.app-header-step.disabled:hover{
    cursor: not-allowed;
}

.app-header-step.active{
    color: rgb(67, 225, 93);
}

.app-header-step.done{
    color: rgb(28, 134, 46);
}

.app-header-step.disabled{
    color: rgb(189, 189, 189);
}

.register-container{
    padding: 1rem 0;
}

.navigation-btns-container{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.registration-form-container{
    padding: 2rem;
}

.registration-type{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
}

.stepper{
    margin-top: 4rem;
    border-radius: 10px;
    border: solid 1px #c8c8c8;
    background-color: #f2f2f2;
}

.stepper-body{
    padding-top: 2rem;
}

.stepper-header{
    color: #4c4c4c;
    border-bottom: solid 1px #dadada;
}

.steps-container{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
