<div class="container register-container" *ngIf="!isRegistrationComplete">
    <div class="stepper">
        <div class="stepper-header">
            <div class="steps-container">
                <div class="app-header-step" head-reg-step [order]=2>
                    <i class="fas fa-3x fa-lock"></i>
                </div>
                <div class="app-header-step" head-reg-step [order]=3>
                    <i class="far fa-3x fa-address-card"></i>
                </div>
                <div class="app-header-step" head-reg-step [order]=4>
                    <i class="far fa-3x fa-building"></i>
                </div>
                <div class="app-header-step" head-reg-step [order]=5>
                    <i class="fas fa-3x fa-file-alt"></i>
                </div>
            </div>
        </div>
        <div class="stepper-body">
            <div class="app-body-step">
                <app-registration-type [stepNumber]=1>
                </app-registration-type>
            </div>
            <div class="app-body-step">
                <app-register-signin-data [stepNumber]=2>                   
                </app-register-signin-data>
            </div>
            <div class="app-body-step">
                <app-register-personal-data type='employee' [stepNumber]=3>
                </app-register-personal-data>
            </div>
            <div class="app-body-step">
               <app-register-company-data type='employer' [stepNumber]=4>
               </app-register-company-data>
            </div>
            <div class="app-body-step">
                <app-registration-summary [stepNumber]=5>         
                </app-registration-summary>
            </div>
        </div>
    </div>
</div>

<!-- REGISTRATION WENT SUCCESSFULY -->
<app-operation-success 
    *ngIf="isRegistrationComplete"
    title="Rejestracja zakończona pomyślnie!"
    secondary=" Rejestracja w naszym serwisie została zakończona pomyślnie. 
    Na Twój adres email została wysłana wiadomość z kodem do potwierdzenia adresu email.">
        <p>Przejdź do strony logowania i zaloguj się na swoje konto.</p>
        <p class="lead">
            <a class="btn btn-success btn-lg" routerLink='/login' >Przejdź do logowania</a>
        </p>
</app-operation-success>
