.page-wrapper{
    min-height: calc(100vh - 70px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error-description{
    font-size: 2rem;
    color: #a7a7a7;
}
