<div class="page-wrapper">
  <h1 class="display-1 font-weight-bold"> 404 </h1>
  <p class="error-description"> Ups. Strona, której szukasz nie została znaleziona. </p>
  <button class="btn btn-secondary btn-lg" routerLink="/"> Powrót do strony głównej </button>
</div>
