<app-operation-success *ngIf="success"
    title="Adres email został pomyślnie potwierdzony"
    secondary="Weryfikacja adresu email przebiegła pomyślnie.">
        <p class="lead">
            <a class="btn btn-success btn-lg" routerLink='/login' >Przejdź do logowania</a>
        </p>
</app-operation-success>