<div class="alert alert-warning alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Potwierdź swój email</h4>
  <p class="mb-0">Potwierdź swój adress email klikając w link który został
    przesłany na adres email podany przy rejestracji.
    Umożliwi Ci to między innymi zresetowanie hasła w przypadku zapomnienia
    oraz poprawi bezpieczeństwo Twojego profilu.
  </p>
  <p class="mb-1 mt-4">Wiadomość nie dotarła?&nbsp;
    <a href="" class="alert-link" (click)="sendEmailAgain($event)" [ngClass]="{'disabled': resendingEmailInProgress}">
       Wyślij wiadomość ponownie.
    </a>
    &nbsp;&nbsp;
    <span *ngIf="resendingEmailInProgress">
      <i class="fas fa-spinner fa-spin"></i>
    </span>
  </p>
</div>

