.job-location{
  font-size: 0.9rem;
}

.job-name-title>h2{
  font-weight: bold;
  font-size: 1.2rem;
}

.job-offer>.card>.card-body{
  padding: 0.5rem;
}

.skill-tag{
  margin: 0.1rem;
  font-size: 0.85rem;
  font-weight: normal;
  padding: 0.35em 0.5em;
}

.tag{
  margin: 0.1rem;
  font-size: 0.7rem;
  font-weight: normal;
  padding: 0.35em 0.5em;
}

.job-offer-btns{
  display: flex;
  align-items:flex-end;
  justify-content: flex-end;
}
