
  <div class="profile-section-heading col-12">
    <h2 class="profile-section-heading-title">Dane osobowe</h2>
    <button class="edit-btn btn btn-secondary btn-sm" (click)="editPersonalData()"
            *ngIf="!personalDataEditMode">
      Edytuj
    </button>
  </div>
  <div class="personal-data" *ngIf="!personalDataEditMode">
    <div class="row personal-data-row">
      <div class="col-4 personal-data-key">Imię:</div>
      <div class="col-8">{{ employeeData.name }}</div>
    </div>
    <div class="row personal-data-row">
      <div class="col-4 personal-data-key">Nazwisko:</div>
      <div class="col-8">{{ employeeData.surname }}</div>
    </div>
    <div class="row personal-data-row">
      <div class="col-4 personal-data-key">Email:</div>
      <div class="col-8">{{ employeeData.email }}</div>
    </div>
    <div class="row personal-data-row">
      <div class="col-4 personal-data-key">Telefon:</div>
      <div class="col-8">{{ employeeData.phone }}</div>
    </div>
    <div class="row personal-data-row">
      <div class="col-4 personal-data-key">Strona internetowa:</div>
      <div class="col-8">{{ employeeData.websiteUrl }}</div>
    </div>
    <div class="row personal-data-row">
      <div class="col-4 personal-data-key">Data urodzenia:</div>
      <div class="col-8">{{ employeeData.birthDate }}</div>
    </div>
    <div class="row personal-data-row">
      <div class="col-4 personal-data-key">Płeć:</div>
      <div class="col-8">{{ polishApplicationGenderOptionsTranslator.translateGender(employeeData.sex)}}</div>
    </div>
  </div>
  <div class="personal-data-edit-mode" *ngIf="personalDataEditMode">
    <div class="col-12">
      <form [formGroup]='editPersonalDataForm'>
        <div class="row">
          <div class="form-group-sm col-md-6">
            <label class="label-sm">Imię</label>
            <input type="text" class="form-control form-control-sm" placeholder="Imię" formControlName='name'
                   [ngClass]="{'is-invalid': (editPersonalDataForm.get('name').invalid
                                && (editPersonalDataForm.get('name').touched || editPersonalDataForm.get('name').dirty))
                                || (editPersonalDataForm.get('name')?.errors !== null
                                && editPersonalDataForm.get('name')?.errors['serverError'])}">
            <div class="errors" *ngIf="editPersonalDataForm.get('name').invalid">
              <div *ngIf="editPersonalDataForm.get('name').touched || editPersonalDataForm.get('name').dirty">
                <div class="invalid-feedback" *ngIf="editPersonalDataForm.get('name').errors['required']">
                  To pole nie może być puste
                </div>
              </div>
              <div *ngIf="editPersonalDataForm.get('name')?.errors['serverError']">
                <div class="invalid-feedback" *ngFor="let error of editPersonalDataForm.get('name')?.errors['serverError']">
                  {{ error }}
                </div>
              </div>
            </div>
          </div>
          <div class="form-group-sm col-md-6">
            <label class="label-sm">Nazwisko</label>
            <input type="text" class="form-control form-control-sm" placeholder="Nazwisko" formControlName='surname'
                   [ngClass]="{'is-invalid': (editPersonalDataForm.get('surname').invalid
                                && (editPersonalDataForm.get('surname').touched || editPersonalDataForm.get('surname').dirty))
                                || (editPersonalDataForm.get('surname')?.errors !== null
                                && editPersonalDataForm.get('surname')?.errors['serverError'])}">
            <div class="errors" *ngIf="editPersonalDataForm.get('surname').invalid">
              <div *ngIf="editPersonalDataForm.get('surname').touched || editPersonalDataForm.get('surname').dirty">
                <div class="invalid-feedback" *ngIf="editPersonalDataForm.get('surname').errors['required']">
                  To pole nie może być puste
                </div>
              </div>
              <div *ngIf="editPersonalDataForm.get('surname')?.errors['serverError']">
                <div class="invalid-feedback" *ngFor="let error of editPersonalDataForm.get('surname')?.errors['serverError']">
                  {{ error }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group-sm col-md-12">
            <label class="label-sm">Email</label>
            <input type="email" class="form-control form-control-sm" placeholder="Email" formControlName='email'
                   [ngClass]="{'is-invalid': (editPersonalDataForm.get('email').invalid
                                && (editPersonalDataForm.get('email').touched || editPersonalDataForm.get('email').dirty))
                                || (editPersonalDataForm.get('email')?.errors !== null
                                && editPersonalDataForm.get('email')?.errors['serverError'])}">
            <div class="errors" *ngIf="editPersonalDataForm.get('email').invalid">
              <div *ngIf="editPersonalDataForm.get('email').touched || editPersonalDataForm.get('email').dirty">
                <div class="invalid-feedback" *ngIf="editPersonalDataForm.get('email').errors['required']">
                  To pole nie może być puste
                </div>
                <div class="invalid-feedback" *ngIf="editPersonalDataForm.get('email').errors['email']">
                  Adres email jest nieprawidłowy
                </div>
              </div>
              <div *ngIf="editPersonalDataForm.get('email')?.errors['serverError']">
                <div class="invalid-feedback" *ngFor="let error of editPersonalDataForm.get('email')?.errors['serverError']">
                  {{ error }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
        <div class="form-group-sm col-md-6">
          <label class="label-sm">Data urodzenia</label>
          <input type="date" class="form-control form-control-sm" placeholder="Data urodzenia" formControlName='birthDate'
                 [ngClass]="{'is-invalid': (editPersonalDataForm.get('birthDate').invalid
                                && (editPersonalDataForm.get('birthDate').touched || editPersonalDataForm.get('birthDate').dirty))
                                || (editPersonalDataForm.get('birthDate')?.errors !== null
                                && editPersonalDataForm.get('birthDate')?.errors['serverError'])}">
          <div class="errors" *ngIf="editPersonalDataForm.get('birthDate').invalid">
            <div *ngIf="editPersonalDataForm.get('birthDate').touched || editPersonalDataForm.get('birthDate').dirty">
              <div class="invalid-feedback" *ngIf="editPersonalDataForm.get('birthDate').errors['required']">
                To pole nie może być puste
              </div>
            </div>
            <div *ngIf="editPersonalDataForm.get('birthDate')?.errors['serverError']">
              <div class="invalid-feedback" *ngFor="let error of editPersonalDataForm.get('birthDate')?.errors['serverError']">
                {{ error }}
              </div>
            </div>
          </div>
        </div>
        <div class="form-group-sm col-md-6">
          <label class="label-sm">Płeć</label>
          <!--TODO Add central place to read sex instead of hardcoded string-->
          <select class="form-control form-control-sm" formControlName='sex'>
            <option [value]="applicationGenderOptions.nodefined">Wolę nie podawać</option>
            <option [value]="applicationGenderOptions.woman">Kobieta</option>
            <option [value]="applicationGenderOptions.man">Mężczyzna</option>
          </select>
        </div>
      </div>
        <div class="row">
          <div class="form-group-sm col-md-12">
            <label class="label-sm">Telefon</label>
            <input type="text" class="form-control form-control-sm" placeholder="Telefon" formControlName='phone'>
          </div>
        </div>
        <div class="row">
          <div class="form-group-sm col-md-6">
            <label class="label-sm">Kraj</label>
            <input type="text" class="form-control form-control-sm" placeholder="Kraj" formControlName='country'
                   [ngClass]="{'is-invalid': (editPersonalDataForm.get('country').invalid
                                && (editPersonalDataForm.get('country').touched || editPersonalDataForm.get('country').dirty))
                                || (editPersonalDataForm.get('country')?.errors !== null
                                && editPersonalDataForm.get('country')?.errors['serverError'])}">
            <div class="errors" *ngIf="editPersonalDataForm.get('country').invalid">
              <div *ngIf="editPersonalDataForm.get('country').touched || editPersonalDataForm.get('country').dirty">
            <div class="invalid-feedback" *ngIf="editPersonalDataForm.get('country').errors['required']">
              To pole nie może być puste
            </div>
          </div>
            <div *ngIf="editPersonalDataForm.get('country')?.errors['serverError']">
              <div class="invalid-feedback" *ngFor="let error of editPersonalDataForm.get('country')?.errors['serverError']">
                {{ error }}
              </div>
            </div>
          </div>
          </div>
          <div class="form-group-sm col-md-6">
            <label class="label-sm">Miasto</label>
            <input type="text" class="form-control form-control-sm" placeholder="Miasto" formControlName='city'
                   [ngClass]="{'is-invalid': (editPersonalDataForm.get('city').invalid
                                && (editPersonalDataForm.get('city').touched || editPersonalDataForm.get('city').dirty))
                                || (editPersonalDataForm.get('city')?.errors !== null
                                && editPersonalDataForm.get('city')?.errors['serverError'])}">
            <div class="errors" *ngIf="editPersonalDataForm.get('city').invalid">
              <div *ngIf="editPersonalDataForm.get('city').touched || editPersonalDataForm.get('city').dirty">
                <div class="invalid-feedback" *ngIf="editPersonalDataForm.get('city').errors['required']">
                  To pole nie może być puste
                </div>
              </div>
              <div *ngIf="editPersonalDataForm.get('city')?.errors['serverError']">
                <div class="invalid-feedback" *ngFor="let error of editPersonalDataForm.get('city')?.errors['serverError']">
                  {{ error }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group-sm col-md-12">
            <label class="label-sm">Strona internetowa</label>
            <input type="text" class="form-control form-control-sm" placeholder="Strona internetowa" formControlName='websiteUrl'>
          </div>
        </div>
        <div class="row">
          <div class="form-group-sm col-md-12">
            <label class="label-sm">O mnie</label>
            <textarea rows=3 class="form-control form-control-sm" formControlName='about'></textarea>
          </div>
        </div>
        <div class="edit-mode-btns-area">
          <button type="button" class="edit-btn btn btn-secondary btn-sm" (click)="cancelEditPersonalData()">Anuluj</button>
          <button type="button" class="btn btn-primary btn-sm float-right" (click)="submitPersonalData()">
            Zapisz&nbsp;&nbsp;
            <span *ngIf="changingPersonalDataInProgress">
              <i class="fas fa-spinner fa-spin"></i>
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
