.edit-mode-btns-area{
  margin-top: 1rem;
}

.personal-data{
  padding: 0.5rem 0 0;
}

.personal-data-edit-mode{
  margin-bottom: 3rem;
}

.personal-data-row{
  margin: 0.5rem 0;
  line-height: 1.2;
}

.personal-data-key{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.profile-section-heading{
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.profile-section-heading-title{
  color: #9c9c9c;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
  margin: 0;
}

.profile-section-heading .edit-btn{
  margin-left: auto;
}
