<div class="registration-step-title">
    <h1 class="text-center">Dane firmy</h1>
</div>
<div class="registration-form-container">
    <form [formGroup]='companyDataForm'>
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="">Nazwa firmy</label>
                        <input type="text" class="form-control" placeholder="Nazwa firmy" formControlName='companyName'
                        [ngClass]="{'is-invalid': (companyDataForm.get('companyName').invalid 
                            && (companyDataForm.get('companyName').touched || companyDataForm.get('companyName').dirty))
                            || (companyDataForm.get('companyName')?.errors !== null 
                            && companyDataForm.get('companyName')?.errors['serverError'])}">
                        <div class="errors" *ngIf="companyDataForm.get('companyName').invalid">
                            <div class="invalid-feedback" *ngIf="companyDataForm.get('companyName').touched 
                                && companyDataForm.get('companyName').errors['required']">
                                To pole nie może być puste
                            </div>
                            <div *ngIf="companyDataForm.get('companyName')?.errors['serverError']">
                                <div class="invalid-feedback" *ngFor="let error of companyDataForm.get('companyName')?.errors['serverError']">
                                    {{ error }} 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="">Opis firmy</label>
                        <textarea rows=5 class="form-control" formControlName='companyDescription'>

                        </textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="">Rok założenia</label>
                        <input type="number" class="form-control" placeholder="Rok założenia" formControlName="foundedYear"
                        [ngClass]="{'is-invalid': (companyDataForm.get('foundedYear').invalid 
                            && (companyDataForm.get('foundedYear').touched || companyDataForm.get('foundedYear').dirty))
                            || (companyDataForm.get('foundedYear')?.errors !== null 
                            && companyDataForm.get('foundedYear')?.errors['serverError'])}">
                        <div class="errors" *ngIf="companyDataForm.get('foundedYear').invalid">
                            <div class="invalid-feedback" *ngIf="companyDataForm.get('foundedYear').touched 
                                && companyDataForm.get('foundedYear').errors['required']">
                                To pole nie może być puste
                            </div>
                            <div class="invalid-feedback" *ngIf="companyDataForm.get('foundedYear').value !== '' 
                                && (companyDataForm.get('foundedYear')?.errors['min'] || companyDataForm.get('foundedYear')?.errors['max'])">
                                Wartość wykracza poza dozwolone wartości 
                                (
                                {{companyDataForm.get('foundedYear')?.errors['min'] 
                                ? "min: " + companyDataForm.get('foundedYear')?.errors['min'].min
                                : "max: " + companyDataForm.get('foundedYear')?.errors['max'].max}}
                                )
                            </div>
                            <div *ngIf="companyDataForm.get('foundedYear')?.errors['serverError']">
                                <div class="invalid-feedback" *ngFor="let error of companyDataForm.get('foundedYear')?.errors['serverError']">
                                    {{ error }} 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Liczba pracowników</label>
                        <input type="number" class="form-control" placeholder="+/- Liczba pracowników" formControlName="companySize"
                        [ngClass]="{'is-invalid': (companyDataForm.get('companySize').invalid 
                            && (companyDataForm.get('companySize').touched || companyDataForm.get('companySize').dirty))
                            || (companyDataForm.get('companySize')?.errors !== null 
                            && companyDataForm.get('companySize')?.errors['serverError'])}">
                        <div class="errors" *ngIf="companyDataForm.get('companySize').invalid">
                            <div class="invalid-feedback" *ngIf="companyDataForm.get('companySize').touched 
                                && companyDataForm.get('companySize').errors['required']">
                                To pole nie może być puste
                            </div>
                            <div *ngIf="companyDataForm.get('companySize')?.errors['serverError']">
                                <div class="invalid-feedback" *ngFor="let error of companyDataForm.get('companySize')?.errors['serverError']">
                                    {{ error }} 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="">NIP</label>
                        <input type="text" class="form-control" placeholder="NIP" formControlName="nip"
                        [ngClass]="{'is-invalid': (companyDataForm.get('nip').invalid 
                            && (companyDataForm.get('nip').touched || companyDataForm.get('nip').dirty))
                            || (companyDataForm.get('nip')?.errors !== null 
                            && companyDataForm.get('nip')?.errors['serverError'])}">
                        <div class="errors" *ngIf="companyDataForm.get('nip').invalid">
                            <div class="invalid-feedback" *ngIf="companyDataForm.get('nip').touched 
                                && companyDataForm.get('nip').errors['required']">
                                To pole nie może być puste
                            </div>
                            <div class="invalid-feedback" *ngIf="companyDataForm.get('nip').value !== '' 
                                && companyDataForm.get('nip')?.errors['nipFormatError']">
                                {{ companyDataForm.get('nip')?.errors['nipFormatError'].message }}
                            </div>
                            <div *ngIf="companyDataForm.get('nip')?.errors['serverError']">
                                <div class="invalid-feedback" *ngFor="let error of companyDataForm.get('nip')?.errors['serverError']">
                                    {{ error }} 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="">Strona internetowa</label>
                        <input type="url" class="form-control" placeholder="Strona internetowa" formControlName="websiteUrl">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="">Siedziba firmy</label>
                        <input type="text" class="form-control" placeholder="Ulica" formControlName="street"
                        [ngClass]="{'is-invalid': (companyDataForm.get('street').invalid 
                            && (companyDataForm.get('street').touched || companyDataForm.get('street').dirty))
                            || (companyDataForm.get('street')?.errors !== null 
                            && companyDataForm.get('street')?.errors['serverError'])}">
                        <div class="errors" *ngIf="companyDataForm.get('street').invalid">
                            <div class="invalid-feedback" *ngIf="companyDataForm.get('street').touched 
                                && companyDataForm.get('street').errors['required']">
                                To pole nie może być puste
                            </div>
                            <div *ngIf="companyDataForm.get('street')?.errors['serverError']">
                                <div class="invalid-feedback" *ngFor="let error of companyDataForm.get('street')?.errors['serverError']">
                                    {{ error }} 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="number" class="form-control" placeholder="Numer domu" formControlName="apartmentNumber"
                        [ngClass]="{'is-invalid': (companyDataForm.get('apartmentNumber').invalid 
                            && (companyDataForm.get('apartmentNumber').touched || companyDataForm.get('apartmentNumber').dirty))
                            || (companyDataForm.get('apartmentNumber')?.errors !== null 
                            && companyDataForm.get('apartmentNumber')?.errors['serverError'])}">
                        <div class="errors" *ngIf="companyDataForm.get('apartmentNumber').invalid">
                            <div class="invalid-feedback" *ngIf="companyDataForm.get('apartmentNumber').touched 
                                && companyDataForm.get('apartmentNumber').errors['required']">
                                To pole nie może być puste
                            </div>
                            <div *ngIf="companyDataForm.get('apartmentNumber')?.errors['serverError']">
                                <div class="invalid-feedback" *ngFor="let error of companyDataForm.get('apartmentNumber')?.errors['serverError']">
                                    {{ error }} 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="number" class="form-control" placeholder="Numer mieszkania" formControlName="flatNumber">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" placeholder="Kraj" formControlName="country"
                        [ngClass]="{'is-invalid': (companyDataForm.get('country').invalid 
                            && (companyDataForm.get('country').touched || companyDataForm.get('country').dirty))
                            || (companyDataForm.get('country')?.errors !== null 
                            && companyDataForm.get('country')?.errors['serverError'])}">
                        <div class="errors" *ngIf="companyDataForm.get('country').invalid">
                            <div class="invalid-feedback" *ngIf="companyDataForm.get('country').touched 
                                && companyDataForm.get('country').errors['required']">
                                To pole nie może być puste
                            </div>
                            <div *ngIf="companyDataForm.get('country')?.errors['serverError']">
                                <div class="invalid-feedback" *ngFor="let error of companyDataForm.get('country')?.errors['serverError']">
                                    {{ error }} 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" placeholder="Miasto" formControlName="city"
                        [ngClass]="{'is-invalid': (companyDataForm.get('city').invalid 
                            && (companyDataForm.get('city').touched || companyDataForm.get('city').dirty))
                            || (companyDataForm.get('city')?.errors !== null 
                            && companyDataForm.get('city')?.errors['serverError'])}">
                        <div class="errors" *ngIf="companyDataForm.get('city').invalid">
                            <div class="invalid-feedback" *ngIf="companyDataForm.get('city').touched 
                                && companyDataForm.get('city').errors['required']">
                                To pole nie może być puste
                            </div>
                            <div *ngIf="companyDataForm.get('city')?.errors['serverError']">
                                <div class="invalid-feedback" *ngFor="let error of companyDataForm.get('city')?.errors['serverError']">
                                    {{ error }} 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" placeholder="Kod pocztowy" formControlName="postalCode"
                        [ngClass]="{'is-invalid': (companyDataForm.get('postalCode').invalid 
                            && (companyDataForm.get('postalCode').touched || companyDataForm.get('postalCode').dirty))
                            || (companyDataForm.get('postalCode')?.errors !== null 
                            && companyDataForm.get('postalCode')?.errors['serverError'])}">
                        <div class="errors" *ngIf="companyDataForm.get('postalCode').invalid">
                            <div class="invalid-feedback" *ngIf="companyDataForm.get('postalCode').touched 
                                && companyDataForm.get('postalCode').errors['required']">
                                To pole nie może być puste
                            </div>
                            <div *ngIf="companyDataForm.get('postalCode')?.errors['serverError']">
                                <div class="invalid-feedback" *ngFor="let error of companyDataForm.get('postalCode')?.errors['serverError']">
                                    {{ error }} 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="navigation-btns-container">
    <button type="button" class="btn btn-lg btn-danger" (click)="prev()">Wróć</button>
    <button type="button" class="btn btn-lg btn-success" (click)="next()">Dalej</button>
</div>