.navigation-btns-container{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.registration-form-container{
    padding: 2rem;
}