<div class="container page-wrapper" *ngIf="!resetPasswordSuccess">
    <div class="reset-password-container">
        <div class="form-container">    
            <form [formGroup]='resetPasswordForm'>
                <h2 class="form-heading">Podaj nowe hasło</h2>
                <p class="reset-password-info"> 
                  Ustaw nowe hasło i potwierdź wpisując je ponownie a następnie klinkij przycisk "Potwierdź"
                </p>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input type="password" class="form-control" placeholder="Nowe hasło" formControlName='newPassword'
                          [ngClass]="{'is-invalid': (resetPasswordForm.get('newPassword').invalid 
                            && (resetPasswordForm.get('newPassword').touched || resetPasswordForm.get('newPassword').dirty)) 
                            || (resetPasswordForm.get('newPassword')?.errors !== null 
                            && resetPasswordForm.get('newPassword')?.errors['serverError'])}">
                        <div class="errors" *ngIf="resetPasswordForm.get('newPassword').errors !== null">
                            <div class="invalid-feedback" *ngIf="resetPasswordForm.get('newPassword').touched 
                            && resetPasswordForm.get('newPassword').errors['required']">
                                To pole nie może być puste
                            </div>
                            <div *ngIf="resetPasswordForm.get('newPassword')?.errors['serverError']">
                                <div class="invalid-feedback" *ngFor="let error of resetPasswordForm.get('newPassword')?.errors['serverError']">
                                    {{ error }}
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input type="password" class="form-control" placeholder="Potwierdź hasło" formControlName='newPasswordConfirm'
                        [ngClass]="{'is-invalid': (resetPasswordForm.get('newPasswordConfirm').invalid 
                            && (resetPasswordForm.get('newPasswordConfirm').touched || resetPasswordForm.get('newPasswordConfirm').dirty)) 
                            || (resetPasswordForm.get('newPasswordConfirm')?.errors !== null 
                            && resetPasswordForm.get('newPasswordConfirm')?.errors['serverError'])}">
                        <div class="errors" *ngIf="resetPasswordForm.get('newPasswordConfirm').errors !== null">
                            <div class="invalid-feedback" *ngIf="resetPasswordForm.get('newPasswordConfirm').touched 
                            && resetPasswordForm.get('newPasswordConfirm').errors['required']">
                                To pole nie może być puste
                            </div>
                            <div class="invalid-feedback" *ngIf="resetPasswordForm.get('newPasswordConfirm').errors['passwordNotMatch'] === true">
                                Hasła nie pasują
                            </div>
                            <div *ngIf="resetPasswordForm.get('newPasswordConfirm')?.errors['serverError']">
                                <div class="invalid-feedback" *ngFor="let error of resetPasswordForm.get('newPasswordConfirm')?.errors['serverError']">
                                    {{ error }}
                                </div>
                            </div>
                        </div>
                      </div>
                </div>                  
                <div class="form-submit">
                    <button class="btn btn-lg btn-success btn-block" type="button" role="button" (click)="onSubmit()">
                        Potwierdź&nbsp;&nbsp;
                        <span *ngIf="resetPasswordInProgress">
                            <i class="fas fa-spinner fa-spin"></i>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<app-operation-success *ngIf="resetPasswordSuccess"
  title="Hasło zostało zmienione"
  secondary="Resetowanie hasła przebiegło pomyślnie. Możesz teraz zalogować się przy użyciu nowego hasła.">
    <p>Przejdź do strony logowania i zaloguj się na swoje konto.</p>      
    <p class="lead">
        <a class="btn btn-success btn-lg" routerLink='/login' >Przejdź do logowania</a>
    </p>
</app-operation-success>