.autocomplete{
  position: absolute;
  z-index: 2;
  overflow: auto;
  width: 100%;
  background-color: #f9f9f9;
  border: solid 1px lightgray;
  border-radius: 5px;
  padding: 0.25rem;
}

.autocomplete-option{
  padding: 0 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 2px;
}

.autocomplete-option:hover{
  background-color: #d9d9d9;
}

.edit-mode-btns-area{
  margin-top: 2rem;
}

.page-container{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.page-title{
  margin-bottom: 4rem;
}

.tag{
  margin: 0.1rem;
  font-size: 0.9rem;
  font-weight: normal;
}
