<div class="container" *ngIf="employeeData">
  <div class="profile-container">
    <div class="row">
      <div class="col-lg-4 col-md-5">
        <div class="profile-image-container">
          <img class="img-responsive profile-image" src="/assets/images/employee-image.png">
        </div>
      </div>
      <div class="col-lg-8 col-md-7">
        <div class="row">
          <div class="col-12 profile-main-header">
            <h1>{{ employeeData.name }} {{employeeData.surname}}</h1>
            <h2 class="lead text-muted m-0">{{ employeeData.country }} / {{ employeeData.city }}</h2>
          </div>
          <div class="profile-about-me col-12">
            <p class="mt-4 {{isInShowMoreMode() ? 'active' : ''}}">
              {{employeeData.about | slice:0:aboutShortenCharLimit}}
              <span *ngIf="isAboutCharLimitReached() && !isInShowMoreMode()"
                    style="cursor: pointer"
                    (click)="showMore()">...&nbsp;&nbsp;<span class="text-btn">Więcej</span>
              </span>
              <span *ngIf="isInShowMoreMode()"
                    style="cursor: pointer"
                    (click)="showLess()">&nbsp;&nbsp;<span class="text-btn">Mniej</span>
              </span>
            </p>
          </div>
          <div></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-5">
        <div class="row d-block profile-section">
          <div class="profile-section-heading col-11">
            <h2 class="profile-section-heading-title">Języki</h2>
          </div>
          <div class="languages-container col-11">
            <div class="row" *ngFor="let language of employeeData.employeeLanguages; let i = index">
              <div class="col-lg-5 col-6">{{language.languageName}}:</div>
              <div class="col-4 p-0">
                <app-star-rating [rate]="language.level"></app-star-rating>
              </div>
            </div>
          </div>
        </div>
        <div class="row d-block profile-section">
          <div class="profile-section-heading col-11">
            <h2 class="profile-section-heading-title">Umiejętności</h2>
          </div>
          <div class="skills-container col-11">
            <div class="row" *ngFor="let skill of employeeData.employeeSkills; let i = index;">
              <div class="col-lg-5 col-6">{{skill.skillName}}:</div>
              <div class="col-4 p-0">
                <app-star-rating [rate]="skill.level"></app-star-rating>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-7">
        <div class="row d-block profile-section">
          <div class="profile-section-heading col-12">
            <h2 class="profile-section-heading-title">Dane osobowe</h2>
          </div>
          <div class="personal-data">
            <div class="row personal-data-row">
              <div class="col-4 personal-data-key">Imię:</div>
              <div class="col-8">{{ employeeData.name }}</div>
            </div>
            <div class="row personal-data-row">
              <div class="col-4 personal-data-key">Nazwisko:</div>
              <div class="col-8">{{ employeeData.surname }}</div>
            </div>
            <div class="row personal-data-row">
              <div class="col-4 personal-data-key">Email:</div>
              <div class="col-8">{{ employeeData.email }}</div>
            </div>
            <div class="row personal-data-row">
              <div class="col-4 personal-data-key">Telefon:</div>
              <div class="col-8">{{ employeeData.phone }}</div>
            </div>
            <div class="row personal-data-row">
              <div class="col-4 personal-data-key">Strona internetowa:</div>
              <div class="col-8">{{ employeeData.websiteUrl }}</div>
            </div>
            <div class="row personal-data-row">
              <div class="col-4 personal-data-key">Data urodzenia:</div>
              <div class="col-8">{{ employeeData.birthDate }}</div>
            </div>
            <div class="row personal-data-row">
              <div class="col-4 personal-data-key">Płeć:</div>
              <div class="col-8">{{ polishApplicationGenderOptionsTranslator.translateGender(employeeData.sex)}}</div>
            </div>
          </div>
        </div>
        <div class="row d-block profile-section">
          <div class="profile-section-heading col-12">
            <h2 class="profile-section-heading-title">Doświadczenie zawodowe</h2>
          </div>
          <div class="professional-experience col-12">
            <div class="job-container" *ngFor="let job of employeeData.jobExperience; let i = index;">
              <div class="card border-success mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-9">
                      <h3 class="card-title m-0 h4">{{job.position}}
                        ({{job.startMonth}}.{{job.startYear}}
                        -
                        {{
                        job.endMonth === null && job.endYear === null
                        ? 'obecnie'
                        : job.endMonth + '.' + job.endYear
                        }})
                      </h3>
                    </div>
                    <div class="col md-3">
                    </div>
                  </div>
                  <p class="mt-1">{{job.companyName}}
                    <span class="text-muted">({{job.country}}, {{job.city}})</span>
                  </p>
                  <p class="card-text">{{job.jobDescription}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row d-block profile-section">
          <div class="profile-section-heading col-12">
            <h2 class="profile-section-heading-title">Wykształcenie</h2>
          </div>
          <div class="education col-12">
            <div class="education-history-container" *ngFor="let education of employeeData.employeeEducation; let i = index;">
              <div class="card border-success mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-9">
                      <h3 class="card-title m-0 h4">{{education.schoolName}}
                        ({{education.startYear}}
                        -
                        {{education.endYear === null ? 'obecnie' : education.endYear}})</h3>
                    </div>
                    <div class="col md-3">
                    </div>
                  </div>
                  <p class="m-0 mt-1">{{education.branchOfStudy}} </p>
                  <p class="text-muted">({{education.speciality}})</p>
                  <p class="education-degree">Wykształcenie: {{education.degree}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row d-block profile-section">
          <div class="profile-section-heading col-12">
            <h2 class="profile-section-heading-title">Kursy, Certyfikaty</h2>
          </div>
          <div class="certificates col-12">
            <div class="certificate-container" *ngFor="let certificate of employeeData.employeeCertificates; let i = index;">
              <div class="card border-success mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-9">
                      <h3 class="card-title m-0 h4">{{certificate.courseName}}</h3>
                    </div>
                    <div class="col md-3">
                    </div>
                  </div>
                  <p class="mt-1 text-muted">{{certificate.monthOfObtain}}/{{certificate.yearOfObtain}}</p>
                  <p class="education-degree">Organizator: {{certificate.organizerName}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
