<h1 class="text-center">Wybierz typ rejestracji</h1>
<div class="registration-type">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="card text-black-100 bg-green mb-3">
          <div class="card-body">
            <h3 class="card-title">Jako pracownik</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
            <button type="button" class="btn btn-success btn-lg float-right" (click)="registerAs('employee')">Wybierz</button>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card text-black-100 bg-green mb-3">
          <div class="card-body">
            <h3 class="card-title">Jako pracodawca</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
            <button type="button" class="btn btn-success btn-lg float-right" (click)="registerAs('employer')">Wybierz</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>