<div class="container page-container">
  <div class="search-wrapper">
    <div class="row">
      <div class="col-sm-3">
        justfindit
      </div>
      <div class="col-sm-9">
        <app-search size="small"
                    [skillsInit]='skills'
                    [citiesInit]='cities'
                    [salaryInit]='salary'
                    (searchClick)="onSearchClick($event)">
        </app-search>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-employee-job-offer-tab *ngFor="let offer of jobOffers" [jobOffer]="offer"></app-employee-job-offer-tab>
    </div>
  </div>
</div>


