.page-container{
  padding: 2rem 0;
}

.search-icon{
  cursor: pointer;
  flex: 1 auto;
}

.search-tags{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 5px;
  max-width: 55%;
}

.searchbox{
  width: 100%;
  min-height: 30px;
  display: flex;
  padding: 0.2rem 0.75rem;
  font-size: 0.9375rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  line-height: 22px;
  cursor: text;
  position: relative;
}

.searchbox ::-moz-placeholder {
  color: #95a5a6;
}
.searchbox  :-ms-input-placeholder {
  color: #95a5a6;
}
.searchbox ::-webkit-input-placeholder {
  color:#95a5a6;
}

.searchbox-input{
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  color: #7b8a8b;
  background-color: #fff;
  outline: none;
  border: none;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 70%;
}

.searchbox-input-container{
  width: 45%;
}

.search-wrapper{
  padding-bottom: 3rem;
}

.tag{
  margin: 0.03rem;
  font-size: 80%;
}

:host::ng-deep app-employee-job-offer-tab .job-offer>.card {
  border-radius: 0;
  border-bottom: none;
}

:host::ng-deep app-employee-job-offer-tab:last-child .job-offer>.card {
  border-bottom: solid 1px #18BC9C;
}
