  <div class="profile-section-heading col-12">
    <h2 class="profile-section-heading-title">Doświadczenie zawodowe</h2>
    <button class="edit-btn btn btn-secondary btn-sm"
            (click)="addProfessionalExperience()"
            *ngIf="!professionalExperienceEditMode">
      Dodaj
    </button>
  </div>
  <div class="professional-experience-edit-mode" *ngIf="professionalExperienceAddMode || professionalExperienceEditMode">
    <div class="col-12">
      <div class="card border-success mb-3">
        <div class="card-body">
          <form [formGroup]='employeeJobForm'>
            <div class="row">
              <div class="form-group-sm col-md-12">
                <label class="label-sm">Stanowisko</label>
                <input type="text" class="form-control form-control-sm" placeholder="Stanowisko" formControlName="position"
                       [ngClass]="{'is-invalid': (employeeJobForm.get('position').invalid
                                && (employeeJobForm.get('position').touched || employeeJobForm.get('position').dirty))
                                || (employeeJobForm.get('position')?.errors !== null
                                && employeeJobForm.get('position')?.errors['serverError'])}">
                <div class="errors" *ngIf="employeeJobForm.get('position').invalid">
                  <div *ngIf="employeeJobForm.get('position').touched || employeeJobForm.get('position').dirty">
                    <div class="invalid-feedback" *ngIf="employeeJobForm.get('position').errors['required']">
                      To pole nie może być puste
                    </div>
                  </div>
                  <div *ngIf="employeeJobForm.get('position')?.errors['serverError']">
                    <div class="invalid-feedback" *ngFor="let error of employeeJobForm.get('position')?.errors['serverError']">
                      {{ error }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <label class="label-sm col-md-12">Lokalizacja</label>
              <div class="form-group-sm col-md-6">
                <input type="text" class="form-control form-control-sm" placeholder="Kraj" formControlName="country"
                       [ngClass]="{'is-invalid': (employeeJobForm.get('country').invalid
                                && (employeeJobForm.get('country').touched || employeeJobForm.get('country').dirty))
                                || (employeeJobForm.get('country')?.errors !== null
                                && employeeJobForm.get('country')?.errors['serverError'])}">
                <div class="errors" *ngIf="employeeJobForm.get('country').invalid">
                  <div *ngIf="employeeJobForm.get('country').touched || employeeJobForm.get('country').dirty">
                    <div class="invalid-feedback" *ngIf="employeeJobForm.get('country').errors['required']">
                      To pole nie może być puste
                    </div>
                  </div>
                  <div *ngIf="employeeJobForm.get('country')?.errors['serverError']">
                    <div class="invalid-feedback" *ngFor="let error of employeeJobForm.get('country')?.errors['serverError']">
                      {{ error }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group-sm col-md-6">
                <input type="text" class="form-control form-control-sm" placeholder="Miasto" formControlName="city"
                       [ngClass]="{'is-invalid': (employeeJobForm.get('city').invalid
                                && (employeeJobForm.get('city').touched || employeeJobForm.get('city').dirty))
                                || (employeeJobForm.get('city')?.errors !== null
                                && employeeJobForm.get('city')?.errors['serverError'])}">
                <div class="errors" *ngIf="employeeJobForm.get('city').invalid">
                  <div *ngIf="employeeJobForm.get('city').touched || employeeJobForm.get('city').dirty">
                    <div class="invalid-feedback" *ngIf="employeeJobForm.get('city').errors['required']">
                      To pole nie może być puste
                    </div>
                  </div>
                  <div *ngIf="employeeJobForm.get('city')?.errors['serverError']">
                    <div class="invalid-feedback" *ngFor="let error of employeeJobForm.get('city')?.errors['serverError']">
                      {{ error }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group-sm col-md-12">
                <label class="label-sm">Firma</label>
                <input type="text" class="form-control form-control-sm" placeholder="Firma" formControlName="companyName"
                       [ngClass]="{'is-invalid': (employeeJobForm.get('companyName').invalid
                                && (employeeJobForm.get('companyName').touched || employeeJobForm.get('companyName').dirty))
                                || (employeeJobForm.get('companyName')?.errors !== null
                                && employeeJobForm.get('companyName')?.errors['serverError'])}">
                <div class="errors" *ngIf="employeeJobForm.get('companyName').invalid">
                  <div *ngIf="employeeJobForm.get('companyName').touched || employeeJobForm.get('companyName').dirty">
                    <div class="invalid-feedback" *ngIf="employeeJobForm.get('companyName').errors['required']">
                      To pole nie może być puste
                    </div>
                  </div>
                  <div *ngIf="employeeJobForm.get('companyName')?.errors['serverError']">
                    <div class="invalid-feedback" *ngFor="let error of employeeJobForm.get('companyName')?.errors['serverError']">
                      {{ error }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group-sm col-md-6">
                <label class="label-sm">Od</label>
                <div class="row">
                  <div class="col-6">
                    <input type="number" class="form-control form-control-sm" placeholder="Miesiąc" formControlName="startMonth"
                           [ngClass]="{'is-invalid': (employeeJobForm.get('startMonth').invalid
                                && (employeeJobForm.get('startMonth').touched || employeeJobForm.get('startMonth').dirty))
                                || (employeeJobForm.get('startMonth')?.errors !== null
                                && employeeJobForm.get('startMonth')?.errors['startMonth'])}">
                    <div class="errors" *ngIf="employeeJobForm.get('startMonth').invalid">
                      <div *ngIf="employeeJobForm.get('startMonth').touched || employeeJobForm.get('startMonth').dirty">
                        <div class="invalid-feedback" *ngIf="employeeJobForm.get('startMonth').errors['required']">
                          To pole nie może być puste
                        </div>
                        <div class="invalid-feedback" *ngIf="employeeJobForm.get('startMonth').errors['min']
                          || employeeJobForm.get('startMonth').errors['max']">
                          Podany miesiąc nie mieści się w zakresie
                        </div>
                      </div>
                      <div *ngIf="employeeJobForm.get('startMonth')?.errors['serverError']">
                        <div class="invalid-feedback" *ngFor="let error of employeeJobForm.get('startMonth')?.errors['serverError']">
                          {{ error }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <input type="number" class="form-control form-control-sm" placeholder="Rok" formControlName="startYear"
                           [ngClass]="{'is-invalid': (employeeJobForm.get('startYear').invalid
                                && (employeeJobForm.get('startYear').touched || employeeJobForm.get('startYear').dirty))
                                || (employeeJobForm.get('startYear')?.errors !== null
                                && employeeJobForm.get('startYear')?.errors['serverError'])}">
                    <div class="errors" *ngIf="employeeJobForm.get('startYear').invalid">
                      <div *ngIf="employeeJobForm.get('startYear').touched || employeeJobForm.get('startYear').dirty">
                        <div class="invalid-feedback" *ngIf="employeeJobForm.get('startYear').errors['required']">
                          To pole nie może być puste
                        </div>
                        <div class="invalid-feedback" *ngIf="employeeJobForm.get('startYear').errors['min']
                          || employeeJobForm.get('startYear').errors['max']">
                          Podany rok nie mieści się w zakresie
                        </div>
                      </div>
                      <div *ngIf="employeeJobForm.get('startYear')?.errors['serverError']">
                        <div class="invalid-feedback" *ngFor="let error of employeeJobForm.get('startYear')?.errors['serverError']">
                          {{ error }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group-sm col-md-6">
                <label class="label-sm">Do</label>
                <div class="row">
                  <div class="col-6">
                    <input type="number" class="form-control form-control-sm" placeholder="Miesiąc" formControlName="endMonth"
                           [ngClass]="{'is-invalid': (employeeJobForm.get('endMonth').invalid
                                && (employeeJobForm.get('endMonth').touched || employeeJobForm.get('endMonth').dirty))
                                || (employeeJobForm.get('endMonth')?.errors !== null
                                && employeeJobForm.get('endMonth')?.errors['serverError'])}">
                    <div class="errors" *ngIf="employeeJobForm.get('endMonth').invalid">
                      <div *ngIf="employeeJobForm.get('endMonth').touched || employeeJobForm.get('endMonth').dirty">
                        <div class="invalid-feedback" *ngIf="employeeJobForm.get('endMonth').errors['required']">
                          To pole nie może być puste
                        </div>
                        <div class="invalid-feedback" *ngIf="employeeJobForm.get('endMonth').errors['min']
                          || employeeJobForm.get('endMonth').errors['max']">
                          Podany miesiąc nie mieści się w zakresie
                        </div>
                      </div>
                      <div *ngIf="employeeJobForm.get('endMonth')?.errors['serverError']">
                        <div class="invalid-feedback" *ngFor="let error of employeeJobForm.get('endMonth')?.errors['serverError']">
                          {{ error }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <input type="number" class="form-control form-control-sm" placeholder="Rok" formControlName="endYear"
                           [ngClass]="{'is-invalid': (employeeJobForm.get('endYear').invalid
                                && (employeeJobForm.get('endYear').touched || employeeJobForm.get('endYear').dirty))
                                || (employeeJobForm.get('endYear')?.errors !== null
                                && employeeJobForm.get('endYear')?.errors['serverError'])}">
                    <div class="errors" *ngIf="employeeJobForm.get('endYear').invalid">
                      <div *ngIf="employeeJobForm.get('endYear').touched || employeeJobForm.get('endYear').dirty">
                        <div class="invalid-feedback" *ngIf="employeeJobForm.get('endYear').errors['required']">
                          To pole nie może być puste
                        </div>
                        <div class="invalid-feedback" *ngIf="employeeJobForm.get('endYear').errors['min']
                          || employeeJobForm.get('endYear').errors['max']">
                          Podany rok nie mieści się w zakresie
                         </div>
                      </div>
                      <div *ngIf="employeeJobForm.get('endYear')?.errors['serverError']">
                        <div class="invalid-feedback" *ngFor="let error of employeeJobForm.get('endYear')?.errors['serverError']">
                          {{ error }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group-sm form-check ml-auto mb-0">
                <input type="checkbox" class="form-check-input"
                       [checked]="employeeProfessionalExperienceFormCheckboxValue"
                       (change)="toggleFormCheckbox($event)">
                <label class="form-check-label label-sm">Wciąż pracuje</label>
              </div>
            </div>
            <div class="row">
              <div class="form-group-sm col-md-12">
                <label class="label-sm">Opis stanowiska</label>
                <textarea class="form-control form-control-sm" formControlName="jobDescription"></textarea>
              </div>
            </div>
            <div class="edit-mode-btns-area">
              <button type="button" class="edit-btn btn btn-secondary btn-sm" (click)="cancelAddingOrEditingProfessionalExperience()">Anuluj</button>
              <button type="button" class="btn btn-primary btn-sm float-right" (click)="submitChanges()">
                {{professionalExperienceAddMode ? "Dodaj" : "Zapisz"}}&nbsp;&nbsp;
                <span *ngIf="addingOrEditingEmployeeExperienceInProgress">
                  <i class="fas fa-spinner fa-spin"></i>
                </span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="professional-experience col-12">
    <div class="job-container" *ngFor="let job of employeeJobs; let i = index;">
      <div class="card border-success mb-3" *ngIf="!isProfessionalExperienceElementEdited(i)">
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              <h3 class="card-title m-0 h4">{{job.employeeJob.position}}
                ({{job.employeeJob.startMonth}}.{{job.employeeJob.startYear}}
                -
                {{
                  job.employeeJob.endMonth === null && job.employeeJob.endYear === null
                  ? 'obecnie'
                  : job.employeeJob.endMonth + '.' + job.employeeJob.endYear
                }}
                )
              </h3>
            </div>
            <div class="col md-3">
              <div class="btn-group float-right" role="group">
                <button class="btn btn-danger btn-sm" (click)="deleteProfessionalExperienceElement(i)">
                  Usuń&nbsp;
                  <span *ngIf="deletingEmployeeExperienceInProgress && currentDeletedProfessionalExperienceElementIndex === i">
                    <i class="fas fa-spinner fa-spin"></i>
                  </span>
                </button>
                <button class="btn btn-secondary btn-sm" (click)="editProfessionalExperienceElement(i)">
                  Edytuj
                </button>
              </div>
            </div>
          </div>
          <p class="mt-1">{{job.employeeJob.companyName}}
            <span class="text-muted">({{job.employeeJob.country}}, {{job.employeeJob.city}})</span>
          </p>
          <p class="card-text">{{job.employeeJob.jobDescription}}</p>
        </div>
      </div>
    </div>
  </div>
