<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink='/'>JUSTFINDIT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="#navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav ml-auto" *ngIf="!isAuthenticated()">
        <li class="nav-item" routerLinkActive='active'>
          <a class="nav-link" routerLink='/register'>Zarejestruj</a>
        </li>
        <li class="nav-item" routerLinkActive='active'>
          <a class="nav-link" routerLink='/login'>Zaloguj</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="isAuthenticatedAs('employee')">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" [href] id="employeeNavbarDropdown" role="button" data-toggle="dropdown">
            Moje konto
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="employeeNavbarDropdown">
            <a class="dropdown-item" routerLink='employee'
               routerLinkActive='active'
               [routerLinkActiveOptions]="{exact:true}">
              Profil
            </a>
            <a class="dropdown-item" routerLink='employee/jobs'
               routerLinkActive='active'
               [routerLinkActiveOptions]="{exact:true}">
              Twoje aplikacje
            </a>
            <a class="dropdown-item" routerLink='employee/favourites'
               routerLinkActive='active'
               [routerLinkActiveOptions]="{exact:true}">
              Ulubione
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:;" (click)="onLogout()">Wyloguj</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="isAuthenticatedAs('employer')">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="employerNavbarDropdown" role="button" data-toggle="dropdown">
            Moje konto
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="employerNavbarDropdown">
            <a class="dropdown-item" routerLink='employer'
               routerLinkActive='active'
               [routerLinkActiveOptions]="{exact:true}">
              Profil
            </a>
            <a class="dropdown-item" routerLink='employer/job-offers'
               routerLinkActive='active'
               [routerLinkActiveOptions]="{exact:true}">
              Oferty pracy
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:;" (click)="onLogout()">Wyloguj</a>
          </div>
        </li>
      </ul>
  </div>
</nav>
