.nav-link:hover{
    cursor: pointer;
}

@media only screen and (max-width: 991.5px) {
  .navbar-nav>.dropdown>.dropdown-toggle{
    display: none;
  }
  .navbar-nav .dropdown-menu{
    display:block;
    float: none;
    width: auto;
    background-color: transparent;
    border: none;
  }
  .dropdown-item{
    color: white;
  }

  .dropdown-item:hover, .dropdown-item:focus, .dropdown-item.active{
    background-color: #3f9f8c;
  }

  .dropdown-divider{
    border-top: 1px solid #3aa28e;
  }
}

