.action-btns{
  margin-top: 2rem;
}

.applicants-container{
  margin-top: 3rem;
}

.card-body p{
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.job-offer-title{
  padding: 0;
  margin-bottom: 1.5rem;
}

.job-offer-title>h2{
  font-weight: bold;
  margin: 0;
}

.job-offer-title>p{
  margin-bottom: 0.5rem;
}

.offer-header>h2{
  font-weight: bold;
}

.offer-required-skills, .offer-description{
  padding: 0;
  margin: 1rem 0;
}

.page-container{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.skill-tag{
  margin: 0.1rem;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.35em 0.5em;
}

.tag{
  margin: 0.1rem;
  font-size: 0.9rem;
  font-weight: normal;
  padding: 0.35em 0.5em;
}

.tile{
  padding: 0 0 1rem 0;
}
.tile>.title{
  font-size: 0.85rem;
  margin-bottom: 0.1rem;
}
.tile>.value{
  font-weight: bold;
  font-size: 1rem;
}
