<div class="container page-container" *ngIf="jobOffer">
  <div class="row">
    <div class="col-md-7">
      <div class="job-offer-header row">
        <div class="col-12 job-offer-title">
          <h2 class="h3">{{jobOffer.title}}</h2>
          <p class="text-muted h5">({{jobOffer.city}}, {{jobOffer.country}})</p>
        </div>
        <div class="col-12 offer-details tiles">
          <div class="row tiles">
            <div class="col-sm-6 tile">
              <div class="title">Miejsce pracy</div>
              <div class="value">
                {{jobOffer.city}}
              </div>
            </div>
            <div class="col-sm-6 tile">
              <div class="title">Wynagrodzenie</div>
              <div class="value">
                {{jobOffer.salaryFrom}} - {{jobOffer.salaryTo}}{{jobOffer.currency}}
              </div>
            </div>
            <div class="col-sm-6 tile">
              <div class="title">Adres</div>
              <div class="value">
                {{jobOffer.address}}
              </div>
            </div>
            <div class="col-sm-6 tile">
              <div class="title">Doświadczenie</div>
              <div class="value">
                {{jobOffer.experienceLevel}}
              </div>
            </div>
            <div class="col-sm-6 tile">
              <div class="title">Typ umowy</div>
              <div class="value">
                {{jobOffer.invoiceType}}
              </div>
            </div>
            <div class="col-sm-6 tile">
              <div class="title">Wymiar etatu</div>
              <div class="value">
                {{jobOffer.workTime}}
              </div>
            </div>
            <div class="col-sm-6 tile">
              <div class="title"> Możliwość pracy zdalnej</div>
              <div class="value">
                {{jobOffer.remote}}
              </div>
            </div>
            <div class="col-sm-6 tile">
              <div class="title">Data dodania</div>
              <div class="value">
                {{jobOffer.creationDate}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="job-offer-body row">
        <div class="col-12 offer-required-skills">
          <div class="offer-header">
            <h2 class="h4">Wymagane umiejętności</h2>
          </div>
          <div class="skills">
            <span class="badge badge-success skill-tag" *ngFor="let skill of jobOffer.skills">
              {{skill}}
            </span>
          </div>
        </div>
        <div class="col-12 offer-description">
          <div class="offer-header">
            <h2 class="h4">Opis oferty</h2>
          </div>
          <div [innerHtml]="jobOffer.offerDescription | safe: 'html'"></div>
        </div>
      </div>
      <div class="row action-btns">
        <button class="btn btn-secondary btn" (click)="onBackButtonClick()">
          Powrót
        </button>
        <div class="btn-group ml-auto" role="group">
          <button class="btn btn-danger btn" (click)="onDeleteJobOfferClick()">
            Usuń&nbsp;
            <span *ngIf="deletingJobOfferInProgress">
              <i class="fas fa-spinner fa-spin"></i>
            </span>
          </button>
          <button class="btn btn-light btn" (click)="onEditButtonClick()">
            Edytuj
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <h3>Aplikanci</h3>
      <div class="applicants-container">
        <div class="card border-success mb-1" *ngFor="let applicant of jobOffer.applicants">
          <div class="card-body">
            <h5 class="card-title">{{applicant.name}} {{applicant.surname}}</h5>
            <div class="row">
              <div class="col-1 pr-0"><i class="fa fa-1x fa-envelope" style="font-size: 1.2rem;"></i></div>
              <div class="col-11"><p>{{applicant.email}}</p></div>
            </div>
            <div class="row">
              <div class="col-1 pr-0"><i class="fa fa-1x fa-mobile-alt" style="font-size: 1.2rem;"></i></div>
              <div class="col-11"><p>{{applicant.phone}}</p></div>
            </div>
            <div class="btn-group float-right" role="group">
              <button class="btn btn-secondary btn-sm" (click)="downloadCV(jobOffer.offerId, applicant.id)">Pobierz CV</button>
              <button class="btn btn-success btn-sm" (click)="redirectToApplicantProfile(applicant.id)">Pokaż profil</button>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
