.page-container{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.page-title{

}

:host::ng-deep app-job-offer-tab .job-offer>.card {
  border-radius: 0;
  border-bottom: none;
}

:host::ng-deep app-job-offer-tab:last-child .job-offer>.card {
  border-bottom: solid 1px #18BC9C;
}
