<div class="container page-container">
  <div class="row page-title d-block">
    <h1 class="text-center">Oferty pracy</h1>
  </div>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-success mb-2" (click)="addNewOffer()">Dodaj ofertę</button>
      <div class="job-offers-container mb-5">
        <app-job-offer-tab *ngFor="let offer of jobOffers" [jobOffer]="offer" [jobOfferUrlPrefix]="'/employer/job-offer'"></app-job-offer-tab>
      </div>
    </div>
  </div>
</div>
