<div class="modal-body">
  <p>{{message}}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="activeModal.close()">{{closeButtonTitle}}</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">{{dismissButtonTitle}}</button>
</div>
