<div class="job-offer">
  <div class="card border-success mb-0">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-7">
          <div class="header">
            <div class="job-name-title d-flex">
              <h2 class="card-title m-0">{{jobOffer.title}}</h2>
            </div>
            <p class="mt-0 mb-2 job-location">
              <span class="text-muted">({{jobOffer.city}}, {{jobOffer.country}})</span>
            </p>
          </div>
        </div>
        <div class="col-sm-5">
          <div style="overflow: auto">
            <span class="badge badge-dark tag float-sm-right" style="background-color: #5fac97;">
              Data dodania: {{jobOffer.creationDate}}
              <span style="cursor: pointer;" *ngIf="false">
                <i class="fas fa-spinner fa-spin"></i>
              </span>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <div style="overflow: auto">
            <span class="badge badge-success tag" style="background-color: #366b6e;">
              Zarobki: {{jobOffer.salaryFrom}} - {{jobOffer.salaryTo}}{{jobOffer.currency}}
              <span style="cursor: pointer;" *ngIf="false">
                <i class="fas fa-spinner fa-spin"></i>
              </span>
            </span>
            <span class="badge badge-success tag" style="background-color: #366b6e;">
              Doświadczenie: {{jobOffer.experienceLevel}}
              <span style="cursor: pointer;" *ngIf="false">
                <i class="fas fa-spinner fa-spin"></i>
              </span>
            </span>
            <span class="badge badge-success tag" style="background-color: #366b6e;">
              Możliwość pracy zdalnej: {{jobOffer.remote}}
              <span style="cursor: pointer;" *ngIf="false">
                <i class="fas fa-spinner fa-spin"></i>
              </span>
            </span>
          </div>
          <div style="overflow: auto">
            <span class="badge badge-light tag">
              Firma: {{jobOffer.employer.companyName}}
              <span style="cursor: pointer;" *ngIf="false">
                <i class="fas fa-spinner fa-spin"></i>
              </span>
            </span>
          </div>
          <div class="skill-tags mt-2">
            <span class="badge badge-success skill-tag" *ngFor="let skill of jobOffer.skills">
              {{skill}}
            </span>
          </div>
        </div>
        <div class="col-md-5 job-offer-btns">
          <div class="btn-group ml-auto" role="group">
            <button class="btn btn-light btn" (click)="jobOfferDetails(jobOffer.offerId)">
              Szczegóły
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
