<app-confirm-email-info-box *ngIf="!hasEmailConfirmed"></app-confirm-email-info-box>
<div class="container" *ngIf="employerData">
  <div class="company-container">
    <div class="row">
      <div class="col-lg-4 col-md-5">
        <div class="company-image-container">
          <img class="img-responsive company-image" src="/assets/images/company-image.png">
        </div>
      </div>
      <div class="col-lg-8 col-md-7">
        <div class="row">
          <div class="col-12">
            <h1>{{employerData.companyName}}</h1>
            <h2 class="lead text-muted m-0" *ngIf="headquarters">{{headquarters.country}} / {{headquarters.city}}</h2>
          </div>
          <div class="about-company col-12">
            <p class="mt-4 {{isInShowMoreMode() ? 'active' : ''}}">
              {{employerData.companyDescription | slice:0:aboutShortenCharLimit}}
              <span *ngIf="isAboutCharLimitReached() && !isInShowMoreMode()"
                    style="cursor: pointer"
                    (click)="showMore()">...&nbsp;&nbsp;<span class="text-btn">Więcej</span>
              </span>
              <span *ngIf="isInShowMoreMode()"
                    style="cursor: pointer"
                    (click)="showLess()">&nbsp;&nbsp;<span class="text-btn">Mniej</span>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-5">
        <div class="row d-block company-section">
          <app-company-technologies></app-company-technologies>
        </div>
        <div class="row d-block company-section">
          <app-company-locations></app-company-locations>
        </div>
        <div class="row d-block company-section">
          <app-company-benefits></app-company-benefits>
        </div>
      </div>
      <div class="col-lg-8 col-md-7">
        <div class="row d-block company-section">
          <app-company-data></app-company-data>
        </div>
        <div class="row d-block company-section">
          <div class="company-section-heading col-12">
            <h2 class="company-section-heading-title">Co tworzymy?</h2>
            <button class="edit-btn btn btn-secondary btn-sm" (click)="editWhatsWeCreatingDescription()"
                *ngIf="!whatsWeCreatingEditMode">
              Edytuj
            </button>
          </div>
          <div class="col-12 whats-we-creating" *ngIf="!whatsWeCreatingEditMode">
            {{ employerData.whatsWeCreatingDescription }}
          </div>
          <div class="whats-we-creating-edit-mode" *ngIf="whatsWeCreatingEditMode">
            <div class="col-12">
              <form [formGroup]="whatsWeCreatingDescriptionForm">
                <div class="row">
                  <div class="form-group-sm col-md-12">
                    <textarea rows="6" class="form-control form-control-sm" placeholder="Opis..." formControlName='whatsWeCreating'
                           [ngClass]="{'is-invalid': (whatsWeCreatingDescriptionForm.get('whatsWeCreating').invalid
                                && (whatsWeCreatingDescriptionForm.get('whatsWeCreating').touched || whatsWeCreatingDescriptionForm.get('whatsWeCreating').dirty))
                                || (whatsWeCreatingDescriptionForm.get('whatsWeCreating')?.errors !== null
                                && whatsWeCreatingDescriptionForm.get('whatsWeCreating')?.errors['serverError'])}">
                    </textarea>
                    <div class="errors" *ngIf="whatsWeCreatingDescriptionForm.get('whatsWeCreating').invalid">
                      <div *ngIf="whatsWeCreatingDescriptionForm.get('whatsWeCreating')?.errors['serverError']">
                        <div class="invalid-feedback" *ngFor="let error of whatsWeCreatingDescriptionForm.get('whatsWeCreating')?.errors['serverError']">
                          {{ error }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="edit-mode-btns-area">
                  <button type="button" class="edit-btn btn btn-secondary btn-sm" (click)="cancelEditWhatsWeCreatingDescription()">Anuluj</button>
                  <button type="button" class="btn btn-primary btn-sm float-right" (click)="submitWhatsWeCreatingDescription()">
                    Zapisz&nbsp;&nbsp;
                    <span *ngIf="changingWhatsWeCreatingDescriptionInProgress">
                    <i class="fas fa-spinner fa-spin"></i>
                  </span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row d-block company-section">
          <div class="company-section-heading col-12">
            <h2 class="company-section-heading-title">Dlaczego warto u nas pracować</h2>
            <button class="edit-btn btn btn-secondary btn-sm" (click)="editWorkingWithUsDescription()">
              Edytuj
            </button>
          </div>
          <div class="col-12 why-worth-to-work-with-us" *ngIf="!workingWithUsDescriptionEditMode">
            {{ employerData.workingWithUsDescription }}
          </div>
          <div class="why-worth-to-work-with-us-edit-mode" *ngIf="workingWithUsDescriptionEditMode">
            <div class="col-12">
              <form [formGroup]="workingWithUsDescriptionForm">
                <div class="row">
                  <div class="form-group-sm col-md-12">
                    <textarea rows="6" class="form-control form-control-sm" placeholder="Opis..." formControlName='workingWithUs'
                              [ngClass]="{'is-invalid': (workingWithUsDescriptionForm.get('workingWithUs').invalid
                                && (workingWithUsDescriptionForm.get('workingWithUs').touched || workingWithUsDescriptionForm.get('workingWithUs').dirty))
                                || (workingWithUsDescriptionForm.get('workingWithUs')?.errors !== null
                                && workingWithUsDescriptionForm.get('workingWithUs')?.errors['serverError'])}">
                    </textarea>
                    <div class="errors" *ngIf="workingWithUsDescriptionForm.get('workingWithUs').invalid">
                      <div *ngIf="workingWithUsDescriptionForm.get('workingWithUs')?.errors['serverError']">
                        <div class="invalid-feedback" *ngFor="let error of workingWithUsDescriptionForm.get('workingWithUs')?.errors['serverError']">
                          {{ error }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="edit-mode-btns-area">
                  <button type="button" class="edit-btn btn btn-secondary btn-sm" (click)="cancelEditWorkingWorkWithUsDescription()">Anuluj</button>
                  <button type="button" class="btn btn-primary btn-sm float-right" (click)="submitWorkingWithUsDescription()">
                    Zapisz&nbsp;&nbsp;
                    <span *ngIf="changingWorkingWithUsDescriptionInProgress">
                    <i class="fas fa-spinner fa-spin"></i>
                  </span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row d-block company-section">
          <div class="company-section-heading col-12">
            <h2 class="company-section-heading-title">Praktyki, staże</h2>
            <button class="edit-btn btn btn-secondary btn-sm" (click)="editInternshipDescription()">
              Edytuj
            </button>
          </div>
          <div class="col-12 internship" *ngIf="!internshipDescriptionEditMode">
            {{ employerData.internshipDescription }}
          </div>
          <div class="internship-edit-mode" *ngIf="internshipDescriptionEditMode">
            <div class="col-12">
              <form [formGroup]="internshipDescriptionForm">
                <div class="row">
                  <div class="form-group-sm col-md-12">
                    <textarea rows="6" class="form-control form-control-sm" placeholder="Opis..." formControlName='internshipDescription'
                              [ngClass]="{'is-invalid': (internshipDescriptionForm.get('internshipDescription').invalid
                                && (internshipDescriptionForm.get('internshipDescription').touched || internshipDescriptionForm.get('internshipDescription').dirty))
                                || (internshipDescriptionForm.get('internshipDescription')?.errors !== null
                                && internshipDescriptionForm.get('internshipDescription')?.errors['serverError'])}">
                    </textarea>
                    <div class="errors" *ngIf="internshipDescriptionForm.get('internshipDescription').invalid">
                      <div *ngIf="internshipDescriptionForm.get('internshipDescription')?.errors['serverError']">
                        <div class="invalid-feedback" *ngFor="let error of internshipDescriptionForm.get('internshipDescription')?.errors['serverError']">
                          {{ error }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="edit-mode-btns-area">
                  <button type="button" class="edit-btn btn btn-secondary btn-sm" (click)="cancelEditInternshipDescription()">Anuluj</button>
                  <button type="button" class="btn btn-primary btn-sm float-right" (click)="submitInternshipDescription()">
                    Zapisz&nbsp;&nbsp;
                    <span *ngIf="changingInternshipDescriptionInProgress">
                    <i class="fas fa-spinner fa-spin"></i>
                  </span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row d-block company-section">
          <div class="company-section-heading col-12">
            <h2 class="company-section-heading-title">Aktualne oferty pracy</h2>
          </div>
          <div class="job-offers-container col-12">
            <div class="job-offer-container" *ngFor="let offer of employerData.jobOffers">
              <app-job-offer-tab [jobOffer]="offer" [jobOfferUrlPrefix]="'/employer/job-offer'"></app-job-offer-tab>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
