<div class="profile-section-heading col-11">
  <h2 class="profile-section-heading-title">Języki</h2>
  <button class="edit-btn btn btn-secondary btn-sm" (click)="addEmployeeLanguage()">Dodaj</button>
</div>
<div class="language-add-mode col-11" *ngIf="employeeLanguageAddMode">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="addEmployeeLanguageForm">
        <div class="form-group-sm">
          <input type="text" class="form-control form-control-sm" placeholder="Język"
                 formControlName="languageName"
                 (blur)="autocompletionVisible = false">
          <ul class="list-unstyled autocomplete" *ngIf="autocompletionVisible" (mousedown)="$event.preventDefault();">
            <li class="autocomplete-option"
                *ngFor="let option of languageAutocompleteOptions; let i = index;"
                (click)="onClickAutocompleteOption(i)">
              {{option}}
            </li>
          </ul>
        </div>
        <div class="form-group-sm">
          <select class="form-control form-control-sm" placeholder="Poziom" formControlName="level">
            <option value=1>A1</option>
            <option value=2>A2</option>
            <option value=3>B1</option>
            <option value=4>B2</option>
            <option value=5>C1/C2</option>
          </select>
        </div>
        <button type="button" class="btn btn-sm btn-secondary float-left" (click)="cancelAddingEmployeeLanguage()">Anuluj</button>
        <button type="button" class="btn btn-sm btn-primary float-right" (click)="submitAddingEmployeeSkill()">
          Dodaj&nbsp;
          <span *ngIf="addingEmployeeLanguageInProgress">
            <i class="fas fa-spinner fa-spin"></i>
          </span>
        </button>
      </form>
    </div>
  </div>
</div>
<div class="language-edit-mode col-11" *ngIf="employeeLanguageEditMode">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="editEmployeeLanguageForm">
        <div class="form-group-sm">
          <input type="text" readonly class="form-control-plaintext  form-control-sm" formControlName="readonlyLanguageName">
          <ul class="list-unstyled autocomplete" *ngIf="autocompletionVisible">
            <li class="autocomplete-option"
                *ngFor="let option of languageAutocompleteOptions; let i = index;"
                (click)="onClickAutocompleteOption(i)">
              {{option}}
            </li>
          </ul>
        </div>
        <div class="form-group-sm">
          <select class="form-control form-control-sm" placeholder="Poziom" formControlName="level">
            <option value=1>A1</option>
            <option value=2>A2</option>
            <option value=3>B1</option>
            <option value=4>B2</option>
            <option value=5>C1/C2</option>
          </select>
        </div>
        <button type="button" class="btn btn-sm btn-secondary float-left" (click)="cancelEditingEmployeeLanguage()">Anuluj</button>
        <button type="button" class="btn btn-sm btn-primary float-right" (click)="submitEditingEmployeeSkill()">
          Zapisz&nbsp;&nbsp;
          <span *ngIf="editingEmpoyeeLanguageInProgress">
            <i class="fas fa-spinner fa-spin"></i>
          </span>
        </button>
      </form>
    </div>
  </div>
</div>
<div class="languages-container col-11">
  <div class="row" *ngFor="let language of employeeLanguages; let i = index">
    <div class="col-lg-5 col-6">{{language.languageName}}:</div>
    <div class="col-4 p-0">
      <app-star-rating [rate]="language.level"></app-star-rating>
    </div>
    <div class="col-2 p-0 pl-1">
      <span (click)="editEmployeeLanguageElement(i)" class="icon-btn">
        <i class="fas fa-edit"></i>
      </span>
      <span (click)="deleteEmployeeLanguageElement(i)" class="icon-btn icon-danger">
        <i class="fas fa-trash-alt"></i>
      </span>
    </div>
  </div>
</div>
