<div class="container page-wrapper">
  <div class="box">
    <h1 class="display-6"> {{ title }} </h1>
    <p class="lead"> {{ secondary }} </p>
    <hr class="my-4">
    <ng-content></ng-content>
  </div>
</div>