.box{
    padding: 3rem;
    border-radius: 10px;
    border: solid 1px rgb(169, 220, 184);
}

.box a.btn-success{
    color: white;
}

.page-wrapper{
    min-height: calc(100vh - 70px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
