.autocomplete{
  background-color: #f9f9f9;
  border: solid 1px lightgray;
  border-radius: 5px;
  padding: 0.25rem;
}

.autocomplete-option{
  padding: 0 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 2px;
}

.autocomplete-option:hover{
  background-color: #d9d9d9;
}

.company-section-heading{
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.company-section-heading-title{
  color: #9c9c9c;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
  margin: 0;
}

.company-section-heading .edit-btn{
  margin-left: auto;
}

.company-technologies-add-mode{
  margin-bottom: 2rem;
}

.edit-mode-btns-area{
  margin-top: 1rem;
}

.tag{
  margin: 0.1rem;
  font-size: 1rem;
  font-weight: normal;
}
