<div class="company-section-heading col-11">
  <h2 class="company-section-heading-title">Używane technologie</h2>
  <button class="edit-btn btn btn-secondary btn-sm" (click)="addEmployeeTechnology()">
    Dodaj
  </button>
</div>
<div class="company-technologies-add-mode col-11" *ngIf="companyTechnologyAddMode">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="addCompanyTechnologyForm">
        <div class="form-group-sm">
          <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Technologia"
            formControlName="technologyName"
            (blur)="autocompletionVisible = false">
          <ul class="list-unstyled autocomplete" *ngIf="autocompletionVisible" (mousedown)="$event.preventDefault();">
            <li class="autocomplete-option"
                *ngFor="let option of technologyAutocompleteOptions; let i = index;"
                (click)="onClickAutocompleteOption(i)">
              {{option}}
            </li>
          </ul>
        </div>
        <button type="button" class="btn btn-sm btn-secondary float-left" (click)="cancelAddingEmployeeTechnology()">Anuluj</button>
        <button type="button" class="btn btn-sm btn-primary float-right" (click)="submitAddingEmployeeTechnology()">
          Dodaj&nbsp;
          <span *ngIf="addingCompanyTechnologyInProgress">
            <i class="fas fa-spinner fa-spin"></i>
          </span>
        </button>
      </form>
    </div>
  </div>
</div>
<div class="company-technologies-container col-12">
  <span class="technology-container" *ngFor="let technology of companyTechnologies; let i = index;">
    <span class="badge badge-success tag">
      {{technology.technologyName}}&nbsp;
      <span style="cursor: pointer;"
            (click)="deleteEmployeeTechnologyElement(i)"
            *ngIf="!(deletingCompanyTechnologyInProgress && deletingElementIndex === i)">
        <i class="fas fa-window-close"></i>
      </span>
      <span style="cursor: pointer;"
            (click)="deleteEmployeeTechnologyElement(i)"
            *ngIf="deletingCompanyTechnologyInProgress && deletingElementIndex === i">
        <i class="fas fa-spinner fa-spin"></i>
      </span>
    </span>
  </span>
</div>
