<div class="registration-step-title">
    <h1 class="text-center">Dane logowania</h1>
</div>
<div class="registration-form-container">
    <form [formGroup]='signInDataForm'>
        <div class="form-row">
            <div class="form-group col-12">
                <label for="">Email</label>
                <input type="email" class="form-control" 
                    [ngClass]="{'is-invalid': (signInDataForm.get('email').invalid 
                        && (signInDataForm.get('email').touched || signInDataForm.get('email').dirty)) 
                        || (signInDataForm.get('email')?.errors !== null 
                        && signInDataForm.get('email')?.errors['serverError'])}"
                    placeholder="Email" formControlName='email'>
                <div class="errors" *ngIf="signInDataForm.get('email').errors !== null">
                    <div class="invalid-feedback" *ngIf="signInDataForm.get('email').touched 
                    && signInDataForm.get('email').errors['required']">
                        To pole nie może być puste
                    </div>
                    <div class="invalid-feedback" *ngIf="signInDataForm.get('email').errors['email']">
                        Podany email jest nieprawidłowy
                    </div>
                    <div *ngIf="signInDataForm.get('email')?.errors['serverError']">
                        <div class="invalid-feedback" *ngFor="let error of signInDataForm.get('email')?.errors['serverError']">
                            {{ error }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-6">
                <label for="">Hasło</label>
                <input type="password" class="form-control" 
                    [ngClass]="{'is-invalid': (signInDataForm.get('password').invalid 
                        && (signInDataForm.get('password').touched || signInDataForm.get('password').dirty))
                        || (signInDataForm.get('password')?.errors !== null 
                        && signInDataForm.get('password')?.errors['serverError'])}"
                    placeholder="Hasło" formControlName='password'>
                <div class="errors" *ngIf="signInDataForm.get('password').errors !== null">
                    <div class="invalid-feedback" *ngIf="signInDataForm.get('password').touched 
                    && signInDataForm.get('password').errors['required']">
                        To pole nie może być puste
                    </div>
                    <div *ngIf="signInDataForm.get('password')?.errors['serverError']">
                        <div class="invalid-feedback" *ngFor="let error of signInDataForm.get('password')?.errors['serverError']">
                            {{ error }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Powtórz hasło</label>
                <input type="password" class="form-control" 
                    [ngClass]="{'is-invalid': (signInDataForm.get('passwordConfirm').invalid 
                        && (signInDataForm.get('passwordConfirm').touched || signInDataForm.get('passwordConfirm').dirty))
                        || (signInDataForm.get('passwordConfirm')?.errors !== null 
                        && signInDataForm.get('passwordConfirm')?.errors['serverError']) }"
                    placeholder="Powtórz hasło" formControlName='passwordConfirm'>
                <div class="errors" *ngIf="signInDataForm.get('passwordConfirm').errors !== null">
                    <div class="invalid-feedback" *ngIf="signInDataForm.get('passwordConfirm').touched 
                    && signInDataForm.get('passwordConfirm').errors['required']">
                        To pole nie może być puste
                    </div>
                    <div class="invalid-feedback" *ngIf="signInDataForm.get('passwordConfirm').errors['passwordNotMatch'] === true">
                        Hasła nie pasują
                    </div>
                    <div *ngIf="signInDataForm.get('passwordConfirm')?.errors['serverError']">
                        <div class="invalid-feedback" *ngFor="let error of signInDataForm.get('passwordConfirm')?.errors['serverError']">
                            {{ error }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="navigation-btns-container">
    <button type="button" class="btn btn-lg btn-danger" (click)="prev()">Wróć</button>
    <button type="button" class="btn btn-lg btn-success" (click)="next()">Dalej</button>
</div>