<div class="container page-wrapper">
    <div class="login-container">
        <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
            <li class="nav-item" (click)='changeLoginMode()'>
                <a class="nav-link active" id="employeeLoginTab" data-toggle="tab" href="#employeeLogin" role="tab" aria-controls="employeeLogin"
                    aria-selected="true">
                    Pracownik</a>
            </li>
            <li class="nav-item" (click)='changeLoginMode()'>
                <a class="nav-link" id="employerLoginTab" data-toggle="tab" href="#employerLogin" role="tab" aria-controls="employerLogin"
                    aria-selected="false">
                    Pracodawca</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="employeeLogin" role="tabpanel" aria-labelledby="employeeLoginTab">
                <div class="login-form-container">
                    <form [formGroup]='employeeLoginForm'>
                        <h2 class="form-signin-heading">Zaloguj jako pracownik</h2>
                        <div class="login-server-errors" *ngIf="serverErrors.length > 0">
                            <p class="server-error-message"
                                *ngFor="let error of serverErrors">
                                    {{ error }}
                            </p>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <input type="text" class="form-control" placeholder="Email" formControlName='email'
                                [ngClass]="{'is-invalid': (employeeLoginForm.get('email').invalid
                                    && (employeeLoginForm.get('email').touched || employeeLoginForm.get('email').dirty))
                                    || (employeeLoginForm.get('email')?.errors !== null
                                    && employeeLoginForm.get('email')?.errors['serverError'])}">
                                <div class="errors" *ngIf="employeeLoginForm.get('email').errors !== null">
                                    <div class="invalid-feedback" *ngIf="employeeLoginForm.get('email').touched
                                        && employeeLoginForm.get('email').errors['required']">
                                            To pole nie może być puste
                                    </div>
                                    <div class="invalid-feedback" *ngIf="employeeLoginForm.get('email').errors['email']">
                                        Podany email jest nieprawidłowy
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <input type="password" class="form-control" placeholder="Hasło" formControlName='password'
                                [ngClass]="{'is-invalid': (employeeLoginForm.get('password').invalid
                                    && (employeeLoginForm.get('password').touched || employeeLoginForm.get('password').dirty))
                                    || (employeeLoginForm.get('password')?.errors !== null
                                    && employeeLoginForm.get('password')?.errors['serverError'])}">
                                <div class="errors" *ngIf="employeeLoginForm.get('password').errors !== null">
                                    <div class="invalid-feedback" *ngIf="employeeLoginForm.get('password').touched
                                    && employeeLoginForm.get('password').errors['required']">
                                        To pole nie może być puste
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="remember-me" formControlName='rememberMe'> Nie wylogowuj
                            </label>
                        </div>
                        <div class="login-submit">
                            <button class="btn btn-lg btn-success btn-block" type="button" role="button" (click)="loginAsEmpolyee()">
                                Zaloguj&nbsp;&nbsp;
                                <span *ngIf="loginInProgress">
                                    <i class="fas fa-spinner fa-spin"></i>
                                </span>
                            </button>
                        </div>
                        <p class="text-center">
                            <a routerLink='/forgot-password'>Zapomniałem hasła</a>
                        </p>
                        <p class="text-center">
                            <a routerLink='/register'>Nie masz jeszcze konta? Zarejestruj się.</a>
                        </p>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="employerLogin" role="tabpanel" aria-labelledby="employerLoginTab">
                <div class="login-form-container">
                    <form [formGroup]='employerLoginForm'>
                        <h2 class="form-signin-heading">Zaloguj jako pracodawca</h2>
                        <div class="login-server-errors" *ngIf="serverErrors.length > 0">
                            <p class="server-error-message"
                                *ngFor="let error of serverErrors">
                                    {{ error }}
                            </p>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <input type="text" class="form-control" placeholder="Email" formControlName='email'
                                [ngClass]="{'is-invalid': (employerLoginForm.get('email').invalid
                                    && (employerLoginForm.get('email').touched || employerLoginForm.get('email').dirty))
                                    || (employerLoginForm.get('email')?.errors !== null
                                    && employerLoginForm.get('email')?.errors['serverError'])}">
                                <div class="errors" *ngIf="employerLoginForm.get('email').errors !== null">
                                    <div class="invalid-feedback" *ngIf="employerLoginForm.get('email').touched
                                    && employerLoginForm.get('email').errors['required']">
                                        To pole nie może być puste
                                    </div>
                                    <div class="invalid-feedback" *ngIf="employerLoginForm.get('email').errors['email']">
                                        Podany email jest nieprawidłowy
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <input type="password" class="form-control" placeholder="Hasło" formControlName='password'
                                [ngClass]="{'is-invalid': (employerLoginForm.get('password').invalid
                                    && (employerLoginForm.get('password').touched || employerLoginForm.get('password').dirty))
                                    || (employerLoginForm.get('password')?.errors !== null
                                    && employerLoginForm.get('password')?.errors['serverError'])}">
                                <div class="errors" *ngIf="employerLoginForm.get('password').errors !== null">
                                    <div class="invalid-feedback" *ngIf="employerLoginForm.get('password').touched
                                    && employerLoginForm.get('password').errors['required']">
                                        To pole nie może być puste
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="remember-me" formControlName='rememberMe'> Nie wylogowuj
                            </label>
                        </div>
                        <div class="login-submit">
                            <button class="btn btn-lg btn-success btn-block" type="button" role="button" (click)="loginAsEmpolyer()">
                                Zaloguj&nbsp;&nbsp;
                                <span *ngIf="loginInProgress">
                                    <i class="fas fa-spinner fa-spin"></i>
                                </span>
                            </button>
                        </div>
                        <p class="text-center">
                            <a routerLink='/forgot-password'>Zapomniałem hasła</a>
                        </p>
                        <p class="text-center">
                            <a routerLink='/register'>Nie masz jeszcze konta? Zarejestruj się.</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
