/* SIMILAR TO FORGOT PASSWORD STYLES*/
/* SIMILAR TO RESET PASSWORD STYLES*/
/* REFACTOR IN FUTURE */

.form-signin-heading{
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.login-container{
    width: 420px;
    padding: 1rem;
    border-radius: 10px;
    border: solid 1px rgb(169, 220, 184);
}

.login-form-container{
    padding: 1rem;
}

.login-server-errors{
    border-radius: 7px;
    background-color: #ffe2e2;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
}

.login-submit{
    padding-top: .5rem;
    padding-bottom: .7rem;
}

.page-wrapper{
  min-height: calc(100vh - 70px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.server-error-message{
    width: 100%;
    margin: .05rem;
    font-size: 80%;
    color: #E74C3C;
}
