
  <div class="profile-section-heading col-12">
    <h2 class="profile-section-heading-title">Kursy, Certyfikaty</h2>
    <button class="edit-btn btn btn-secondary btn-sm"
            (click)="addEmployeeCertificate()"
            *ngIf="!employeeCertificateEditMode">
      Dodaj
    </button>
  </div>
  <div class="certificates-edit-mode" *ngIf="employeeCertificateAddMode || employeeCertificateEditMode">
    <div class="col-12">
      <div class="card border-success mb-3">
        <div class="card-body">
          <form [formGroup]="employeeCertificateForm">
            <div class="row">
              <div class="form-group-sm col-md-12">
                <label class="label-sm">Nazwa certifikatu/szkolenia</label>
                <input type="text" class="form-control form-control-sm" placeholder="Nazwa certifikatu/szkolenia" formControlName="certificateName"
                       [ngClass]="{'is-invalid': (employeeCertificateForm.get('certificateName').invalid
                        && (employeeCertificateForm.get('certificateName').touched || employeeCertificateForm.get('certificateName').dirty))
                        || (employeeCertificateForm.get('certificateName')?.errors !== null
                        && employeeCertificateForm.get('certificateName')?.errors['serverError'])}">
                <div class="errors" *ngIf="employeeCertificateForm.get('certificateName').invalid">
                  <div *ngIf="employeeCertificateForm.get('certificateName').touched || employeeCertificateForm.get('certificateName').dirty">
                    <div class="invalid-feedback" *ngIf="employeeCertificateForm.get('certificateName').errors['required']">
                      To pole nie może być puste
                    </div>
                  </div>
                  <div *ngIf="employeeCertificateForm.get('certificateName')?.errors['serverError']">
                    <div class="invalid-feedback" *ngFor="let error of employeeCertificateForm.get('certificateName')?.errors['serverError']">
                      {{ error }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group-sm col-md-12">
                <label class="label-sm">Organizator</label>
                <input type="text" class="form-control form-control-sm" placeholder="Organizator" formControlName="certificateOrganizerName"
                       [ngClass]="{'is-invalid': (employeeCertificateForm.get('certificateOrganizerName').invalid
                        && (employeeCertificateForm.get('certificateOrganizerName').touched || employeeCertificateForm.get('certificateOrganizerName').dirty))
                        || (employeeCertificateForm.get('certificateOrganizerName')?.errors !== null
                        && employeeCertificateForm.get('certificateOrganizerName')?.errors['serverError'])}">
                <div class="errors" *ngIf="employeeCertificateForm.get('certificateOrganizerName').invalid">
                  <div *ngIf="employeeCertificateForm.get('certificateOrganizerName').touched || employeeCertificateForm.get('certificateOrganizerName').dirty">
                    <div class="invalid-feedback" *ngIf="employeeCertificateForm.get('certificateOrganizerName').errors['required']">
                      To pole nie może być puste
                    </div>
                  </div>
                  <div *ngIf="employeeCertificateForm.get('certificateOrganizerName')?.errors['serverError']">
                    <div class="invalid-feedback" *ngFor="let error of employeeCertificateForm.get('certificateOrganizerName')?.errors['serverError']">
                      {{ error }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group-sm col-md-12">
                <label class="label-sm">Data zdobycia certyfikatu/ukonczenia szkolenia</label>
                <div class="row">
                  <div class="col-md-6">
                    <input type="number" class="form-control form-control-sm" placeholder="Miesiąc" formControlName="monthOfObtain"
                           [ngClass]="{'is-invalid': (employeeCertificateForm.get('monthOfObtain').invalid
                        && (employeeCertificateForm.get('monthOfObtain').touched || employeeCertificateForm.get('monthOfObtain').dirty))
                        || (employeeCertificateForm.get('monthOfObtain')?.errors !== null
                        && employeeCertificateForm.get('monthOfObtain')?.errors['serverError'])}">
                    <div class="errors" *ngIf="employeeCertificateForm.get('monthOfObtain').invalid">
                      <div *ngIf="employeeCertificateForm.get('monthOfObtain').touched || employeeCertificateForm.get('monthOfObtain').dirty">
                        <div class="invalid-feedback" *ngIf="employeeCertificateForm.get('monthOfObtain').errors['required']">
                          To pole nie może być puste
                        </div>
                        <div class="invalid-feedback" *ngIf="employeeCertificateForm.get('monthOfObtain').errors['max'] || employeeCertificateForm.get('monthOfObtain').errors['min']">
                          Wartość nie mieści się w zakresie
                        </div>
                      </div>
                      <div *ngIf="employeeCertificateForm.get('monthOfObtain')?.errors['serverError']">
                        <div class="invalid-feedback" *ngFor="let error of employeeCertificateForm.get('monthOfObtain')?.errors['serverError']">
                          {{ error }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <input type="number" class="form-control form-control-sm" placeholder="Rok" formControlName="yearOfObtain"
                           [ngClass]="{'is-invalid': (employeeCertificateForm.get('yearOfObtain').invalid
                        && (employeeCertificateForm.get('yearOfObtain').touched || employeeCertificateForm.get('yearOfObtain').dirty))
                        || (employeeCertificateForm.get('yearOfObtain')?.errors !== null
                        && employeeCertificateForm.get('yearOfObtain')?.errors['serverError'])}">
                    <div class="errors" *ngIf="employeeCertificateForm.get('yearOfObtain').invalid">
                      <div *ngIf="employeeCertificateForm.get('yearOfObtain').touched || employeeCertificateForm.get('yearOfObtain').dirty">
                        <div class="invalid-feedback" *ngIf="employeeCertificateForm.get('yearOfObtain').errors['required']">
                          To pole nie może być puste
                        </div>
                        <div class="invalid-feedback" *ngIf="employeeCertificateForm.get('yearOfObtain').errors['max']">
                          Wartość nie mieści się w zakresie
                        </div>
                      </div>
                      <div *ngIf="employeeCertificateForm.get('yearOfObtain')?.errors['serverError']">
                        <div class="invalid-feedback" *ngFor="let error of employeeCertificateForm.get('yearOfObtain')?.errors['serverError']">
                          {{ error }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="edit-mode-btns-area">
              <button type="button" class="edit-btn btn btn-secondary btn-sm" (click)="cancelAddingOrEditingEmployeeCertificate()">Anuluj</button>
              <button type="button" class="btn btn-primary btn-sm float-right" (click)="submitChanges()">
                {{employeeCertificateAddMode ? "Dodaj" : "Zapisz"}}&nbsp;&nbsp;
                <span *ngIf="addingOrEditingEmployeeCertificateInProgress">
                  <i class="fas fa-spinner fa-spin"></i>
                </span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="certificates col-12">
    <div class="certificate-container" *ngFor="let certificate of employeeCertificates; let i = index;">
      <div class="card border-success mb-3" *ngIf="!isEmployeeCertificateElementEdited(i)">
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              <h3 class="card-title m-0 h4">{{certificate.employeeCertificate.courseName}}</h3>
            </div>
            <div class="col md-3">
              <div class="btn-group float-right" role="group">
                <button class="btn btn-danger btn-sm" (click)="deleteEmployeeCertificateElement(i)">
                  Usuń&nbsp;
                  <span *ngIf="deletingEmployeeCertificateInProgress && currentDeletedEmployeeCertificateElementIndex === i">
                    <i class="fas fa-spinner fa-spin"></i>
                  </span>
                </button>
                <button class="btn btn-secondary btn-sm" (click)="editEmployeeCertificateElement(i)">
                  Edytuj
                </button>
              </div>
            </div>
          </div>
          <p class="mt-1 text-muted">{{certificate.employeeCertificate.monthOfObtain}}/{{certificate.employeeCertificate.yearOfObtain}}</p>
          <p class="education-degree">Organizator: {{certificate.employeeCertificate.organizerName}}</p>
        </div>
      </div>
    </div>
  </div>
