.certificates-edit-mode{
  margin-bottom: 3rem;
}

.edit-mode-btns-area{
  margin-top: 1rem;
}

.profile-section-heading{
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.profile-section-heading-title{
  color: #9c9c9c;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
  margin: 0;
}

.profile-section-heading .edit-btn{
  margin-left: auto;
}
