<div class="company-section-heading col-11">
  <h2 class="company-section-heading-title">Siedziby firmy</h2>
  <button class="edit-btn btn btn-secondary btn-sm" (click)="addCompanyLocation()">
    Dodaj
  </button>
</div>
<div class="company-locations-edit-mode" *ngIf="companyLocationAddMode || companyLocationEditMode">
  <div class="col-11">
    <form [formGroup]="companyLocationForm">
      <div class="row">
        <div class="form-group-sm col-md-12">
          <label class="label-sm">Kraj</label>
          <input type="text" class="form-control form-control-sm" placeholder="Kraj" formControlName="country"
                 [ngClass]="{'is-invalid': (companyLocationForm.get('country').invalid
                                && (companyLocationForm.get('country').touched || companyLocationForm.get('country').dirty))
                                || (companyLocationForm.get('country')?.errors !== null
                                && companyLocationForm.get('country')?.errors['serverError'])}">
          <div class="errors" *ngIf="companyLocationForm.get('country').invalid">
            <div *ngIf="companyLocationForm.get('country').touched || companyLocationForm.get('country').dirty">
              <div class="invalid-feedback" *ngIf="companyLocationForm.get('country').errors['required']">
                To pole nie może być puste
              </div>
            </div>
            <div *ngIf="companyLocationForm.get('country')?.errors['serverError']">
              <div class="invalid-feedback" *ngFor="let error of companyLocationForm.get('country')?.errors['serverError']">
                {{ error }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group-sm col-md-12">
          <label class="label-sm">Miasto</label>
          <input type="text" class="form-control form-control-sm" placeholder="Miasto" formControlName="city"
                 [ngClass]="{'is-invalid': (companyLocationForm.get('city').invalid
                                && (companyLocationForm.get('city').touched || companyLocationForm.get('city').dirty))
                                || (companyLocationForm.get('city')?.errors !== null
                                && companyLocationForm.get('city')?.errors['serverError'])}">
          <div class="errors" *ngIf="companyLocationForm.get('city').invalid">
            <div *ngIf="companyLocationForm.get('city').touched || companyLocationForm.get('city').dirty">
              <div class="invalid-feedback" *ngIf="companyLocationForm.get('city').errors['required']">
                To pole nie może być puste
              </div>
            </div>
            <div *ngIf="companyLocationForm.get('city')?.errors['serverError']">
              <div class="invalid-feedback" *ngFor="let error of companyLocationForm.get('city')?.errors['serverError']">
                {{ error }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group-sm col-md-12">
          <label class="label-sm">Ulica</label>
          <input type="text" class="form-control form-control-sm" placeholder="Ulica" formControlName="street"
                 [ngClass]="{'is-invalid': (companyLocationForm.get('street').invalid
                                && (companyLocationForm.get('street').touched || companyLocationForm.get('street').dirty))
                                || (companyLocationForm.get('street')?.errors !== null
                                && companyLocationForm.get('street')?.errors['serverError'])}">
          <div class="errors" *ngIf="companyLocationForm.get('street').invalid">
            <div *ngIf="companyLocationForm.get('street').touched || companyLocationForm.get('street').dirty">
              <div class="invalid-feedback" *ngIf="companyLocationForm.get('street').errors['required']">
                To pole nie może być puste
              </div>
            </div>
            <div *ngIf="companyLocationForm.get('street')?.errors['serverError']">
              <div class="invalid-feedback" *ngFor="let error of companyLocationForm.get('street')?.errors['serverError']">
                {{ error }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group-sm col-md-12">
          <label class="label-sm">Numer domu</label>
          <input type="number" class="form-control form-control-sm" placeholder="Numer domu" formControlName="apartmentNumber"
                 [ngClass]="{'is-invalid': (companyLocationForm.get('apartmentNumber').invalid
                                && (companyLocationForm.get('apartmentNumber').touched || companyLocationForm.get('apartmentNumber').dirty))
                                || (companyLocationForm.get('apartmentNumber')?.errors !== null
                                && companyLocationForm.get('apartmentNumber')?.errors['serverError'])}">
          <div class="errors" *ngIf="companyLocationForm.get('apartmentNumber').invalid">
            <div *ngIf="companyLocationForm.get('apartmentNumber').touched || companyLocationForm.get('apartmentNumber').dirty">
              <div class="invalid-feedback" *ngIf="companyLocationForm.get('apartmentNumber').errors['required']">
                To pole nie może być puste
              </div>
            </div>
            <div *ngIf="companyLocationForm.get('apartmentNumber')?.errors['serverError']">
              <div class="invalid-feedback" *ngFor="let error of companyLocationForm.get('apartmentNumber')?.errors['serverError']">
                {{ error }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group-sm col-md-12">
          <label class="label-sm">Numer mieszkania (opcjonalnie)</label>
          <input type="number" class="form-control form-control-sm" placeholder="Numer mieszkania" formControlName="flatNumber"
                 [ngClass]="{'is-invalid': (companyLocationForm.get('flatNumber').invalid
                                && (companyLocationForm.get('flatNumber').touched || companyLocationForm.get('flatNumber').dirty))
                                || (companyLocationForm.get('flatNumber')?.errors !== null
                                && companyLocationForm.get('flatNumber')?.errors['serverError'])}">
          <div class="errors" *ngIf="companyLocationForm.get('flatNumber').invalid">
            <div *ngIf="companyLocationForm.get('flatNumber')?.errors['serverError']">
              <div class="invalid-feedback" *ngFor="let error of companyLocationForm.get('flatNumber')?.errors['serverError']">
                {{ error }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group-sm col-md-12">
          <label class="label-sm">Kod pocztowy</label>
          <input type="text" class="form-control form-control-sm" placeholder="Kod pocztowy" formControlName="postalCode"
                 [ngClass]="{'is-invalid': (companyLocationForm.get('postalCode').invalid
                                && (companyLocationForm.get('postalCode').touched || companyLocationForm.get('postalCode').dirty))
                                || (companyLocationForm.get('postalCode')?.errors !== null
                                && companyLocationForm.get('postalCode')?.errors['serverError'])}">
          <div class="errors" *ngIf="companyLocationForm.get('postalCode').invalid">
            <div *ngIf="companyLocationForm.get('postalCode').touched || companyLocationForm.get('postalCode').dirty">
              <div class="invalid-feedback" *ngIf="companyLocationForm.get('postalCode').errors['required']">
                To pole nie może być puste
              </div>
            </div>
            <div *ngIf="companyLocationForm.get('postalCode')?.errors['serverError']">
              <div class="invalid-feedback" *ngFor="let error of companyLocationForm.get('postalCode')?.errors['serverError']">
                {{ error }}
              </div>
            </div>
          </div>
        </div>
        <div class="form-group-sm col-md-12" *ngIf="companyLocationEditMode
           && companyLocations[currentEditedCompanyLocationElementIndex].employerLocationId !== headquartersId">
          <button type="button" class="edit-btn btn btn-warning btn-sm float-right" (click)="setAsHeadquarters(currentEditedCompanyLocationElementIndex)">
            Ustaw jako siedzibę główną&nbsp;
            <span *ngIf="settingCompanyLocationAsHeadquartersInProgress">
                  <i class="fas fa-spinner fa-spin"></i>
                </span>
          </button>
        </div>
      </div>
      <div class="edit-mode-btns-area">
        <button type="button" class="edit-btn btn btn-secondary btn-sm" (click)="cancelAddingOrEditingCompanyLocation()">Anuluj</button>
        <button type="button" class="btn btn-primary btn-sm float-right" (click)="submitChanges()">
          {{companyLocationAddMode ? "Dodaj" : "Zapisz"}}&nbsp;&nbsp;
          <span *ngIf="addingOrEditingCompanyLocationInProgress">
                  <i class="fas fa-spinner fa-spin"></i>
                </span>
        </button>
      </div>
    </form>
  </div>
</div>
<div class="company-locations-container col-11">
  <div class="location-container" *ngFor="let location of companyLocations; let i = index">
    <div class="row location" *ngIf="!isCompanyLocationElementEdited(i)">
      <div class="col-12 headquarters" *ngIf="headquartersId === location.employerLocationId">Siedziba główna</div>
      <div class="col-12 location-city">
        {{location.city}} <span class="location-country">({{location.country}})</span>
        <div class="btn-group float-right" role="group">
          <button class="btn btn-danger btn-sm" (click)="deleteCompanyLocationElement(i)">
            Usuń&nbsp;
            <span *ngIf="deletingCompanyLocationInProgress && currentDeletedCompanyLocationElementIndex === i">
            <i class="fas fa-spinner fa-spin"></i>
          </span>
          </button>
          <button class="btn btn-secondary btn-sm" (click)="editCompanyLocationElement(i)">
            Edytuj
          </button>
        </div>
      </div>
      <div class="col-12 location-address">
        {{location.street}} {{location.apartmentNumber}} <span *ngIf="location.flatNumber">/{{location.flatNumber}}</span>
      </div>
      <div class="col-12 location-postal-code">
        {{location.postalCode}}
      </div>
    </div>
  </div>
</div>
