.company-locations-edit-mode{
  margin-bottom: 2rem;
}

.company-section-heading{
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.company-section-heading-title{
  color: #9c9c9c;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
  margin: 0;
}

.company-section-heading .edit-btn{
  margin-left: auto;
}

.edit-mode-btns-area{
  margin-top: 1rem;
}

.headquarters{
  font-size: 0.9rem;
  font-weight: bold;
}

.location{
  margin-bottom: 1rem;
}

.location-address{
  font-size: 0.9rem;
}

.location-city{
  font-size: 1.05rem;
  font-weight: bold;
  margin-bottom: 0.1rem;
}

.location-country{
  font-weight: normal;
  font-size: 1rem;
  color: gray;
}

.location-postal-code{
  font-size: 0.9rem;
}
