.profile-container{
    padding-top: 2rem;
}

.profile-image{
    width: 100%;
    height: auto;
}

.profile-image-container{
    padding-bottom: 2rem;
    padding-right: 3rem;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 767.5px) {
    .profile-image-container {
        padding-right: 0;
        margin-left: 0;
    }
}

.profile-about-me{
    height: 9.4rem;
    /*overflow: hidden;*/
}

.profile-about-me p {
  position: relative;
  z-index: 1;
  background-color: white;
  line-height: 1.3rem;
}

.profile-about-me p.active{
  padding-bottom: 10px;
  border-bottom: solid #e3e3e3 1px;
  box-shadow: 10px 15px 20px -21px #c2c2c2;
  border-radius: 5px;
}

.profile-main-header{

}

.profile-section{
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.profile-section-heading{
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.profile-section-heading-title{
  color: #9c9c9c;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
  margin: 0;
}

.profile-section-heading .edit-btn{
  margin-left: auto;
}

.text-btn{
  color: #18bc9c;
}
