<app-confirm-email-info-box *ngIf="!hasEmailConfirmed"></app-confirm-email-info-box>
<div class="container" *ngIf="employeeData">
  <div class="profile-container">
    <div class="row">
      <div class="col-lg-4 col-md-5">
        <div class="profile-image-container">
          <img class="img-responsive profile-image" src="/assets/images/employee-image.png">
        </div>
      </div>
      <div class="col-lg-8 col-md-7">
        <div class="row">
          <div class="col-12 profile-main-header">
            <h1>{{ employeeData.name }} {{employeeData.surname}}</h1>
            <h2 class="lead text-muted m-0">{{ employeeData.country }} / {{ employeeData.city }}</h2>
          </div>
          <div class="profile-about-me col-12">
            <p class="mt-4 {{isInShowMoreMode() ? 'active' : ''}}">
              {{employeeData.about | slice:0:aboutShortenCharLimit}}
              <span *ngIf="isAboutCharLimitReached() && !isInShowMoreMode()"
                    style="cursor: pointer"
                    (click)="showMore()">...&nbsp;&nbsp;<span class="text-btn">Więcej</span>
              </span>
              <span *ngIf="isInShowMoreMode()"
                    style="cursor: pointer"
                    (click)="showLess()">&nbsp;&nbsp;<span class="text-btn">Mniej</span>
              </span>
            </p>
          </div>
          <div></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-5">
        <div class="row d-block profile-section">
          <app-languages></app-languages>
        </div>
        <div class="row d-block profile-section">
          <app-skills></app-skills>
        </div>
      </div>
      <div class="col-lg-8 col-md-7">
        <div class="row d-block profile-section">
          <app-edit-personal-data></app-edit-personal-data>
        </div>
        <div class="row d-block profile-section">
          <app-professional-experience></app-professional-experience>
        </div>
        <div class="row d-block profile-section">
          <app-education></app-education>
        </div>
        <div class="row d-block profile-section">
          <app-certificates></app-certificates>
        </div>
      </div>
    </div>
  </div>
</div>
