
  <div class="profile-section-heading col-12">
    <h2 class="profile-section-heading-title">Wykształcenie</h2>
    <button class="edit-btn btn btn-secondary btn-sm"
            (click)="addEmployeeEducation()"
            *ngIf="!employeeEducationEditMode">
      Dodaj
    </button>
  </div>
  <div class="education-edit-mode" *ngIf="employeeEducationAddMode || employeeEducationEditMode">
        <div class="col-12">
          <div class="card border-success mb-3">
            <div class="card-body">
              <form [formGroup]='employeeEducationForm'>
                <div class="row">
                  <div class="form-group-sm col-md-12">
                    <label class="label-sm">Nazwa szkoły</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Nazwa szkoły" formControlName="schoolName"
                           [ngClass]="{'is-invalid': (employeeEducationForm.get('schoolName').invalid
                        && (employeeEducationForm.get('schoolName').touched || employeeEducationForm.get('schoolName').dirty))
                        || (employeeEducationForm.get('schoolName')?.errors !== null
                        && employeeEducationForm.get('schoolName')?.errors['serverError'])}">
                    <div class="errors" *ngIf="employeeEducationForm.get('schoolName').invalid">
                      <div *ngIf="employeeEducationForm.get('schoolName').touched || employeeEducationForm.get('schoolName').dirty">
                        <div class="invalid-feedback" *ngIf="employeeEducationForm.get('schoolName').errors['required']">
                          To pole nie może być puste
                        </div>
                      </div>
                      <div *ngIf="employeeEducationForm.get('schoolName')?.errors['serverError']">
                        <div class="invalid-feedback" *ngFor="let error of employeeEducationForm.get('schoolName')?.errors['serverError']">
                          {{ error }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group-sm col-md-12">
                    <label class="label-sm">Kierunek</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Kierunek" formControlName="branchOfStudy"
                           [ngClass]="{'is-invalid': (employeeEducationForm.get('branchOfStudy').invalid
                        && (employeeEducationForm.get('branchOfStudy').touched || employeeEducationForm.get('branchOfStudy').dirty))
                        || (employeeEducationForm.get('branchOfStudy')?.errors !== null
                        && employeeEducationForm.get('branchOfStudy')?.errors['serverError'])}">
                    <div class="errors" *ngIf="employeeEducationForm.get('branchOfStudy').invalid">
                      <div *ngIf="employeeEducationForm.get('branchOfStudy').touched || employeeEducationForm.get('branchOfStudy').dirty">
                        <div class="invalid-feedback" *ngIf="employeeEducationForm.get('branchOfStudy').errors['required']">
                          To pole nie może być puste
                        </div>
                      </div>
                      <div *ngIf="employeeEducationForm.get('branchOfStudy')?.errors['serverError']">
                        <div class="invalid-feedback" *ngFor="let error of employeeEducationForm.get('branchOfStudy')?.errors['serverError']">
                          {{ error }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group-sm col-md-12">
                    <label class="label-sm">Specjalizacja (ocpjonalnie)</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Specjalizacja" formControlName="speciality"
                           [ngClass]="{'is-invalid': (employeeEducationForm.get('speciality').invalid
                        && (employeeEducationForm.get('speciality').touched || employeeEducationForm.get('speciality').dirty))
                        || (employeeEducationForm.get('speciality')?.errors !== null
                        && employeeEducationForm.get('speciality')?.errors['serverError'])}">
                    <div class="errors" *ngIf="employeeEducationForm.get('speciality').invalid">
                      <div *ngIf="employeeEducationForm.get('speciality')?.errors['serverError']">
                        <div class="invalid-feedback" *ngFor="let error of employeeEducationForm.get('speciality')?.errors['serverError']">
                          {{ error }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group-sm col-md-12">
                    <label class="label-sm">Poziom wykształcenia</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Poziom wykształcenia" formControlName="degree"
                           [ngClass]="{'is-invalid': (employeeEducationForm.get('degree').invalid
                        && (employeeEducationForm.get('degree').touched || employeeEducationForm.get('degree').dirty))
                        || (employeeEducationForm.get('degree')?.errors !== null
                        && employeeEducationForm.get('degree')?.errors['serverError'])}">
                    <div class="errors" *ngIf="employeeEducationForm.get('degree').invalid">
                      <div *ngIf="employeeEducationForm.get('degree').touched || employeeEducationForm.get('degree').dirty">
                        <div class="invalid-feedback" *ngIf="employeeEducationForm.get('degree').errors['required']">
                          To pole nie może być puste
                        </div>
                      </div>
                      <div *ngIf="employeeEducationForm.get('degree')?.errors['serverError']">
                        <div class="invalid-feedback" *ngFor="let error of employeeEducationForm.get('degree')?.errors['serverError']">
                          {{ error }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group-sm col-md-6">
                    <label class="label-sm">Od</label>
                    <input type="number" class="form-control form-control-sm" placeholder="Rok rozpoczęcia" formControlName="startYear"
                           [ngClass]="{'is-invalid': (employeeEducationForm.get('startYear').invalid
                        && (employeeEducationForm.get('startYear').touched || employeeEducationForm.get('startYear').dirty))
                        || (employeeEducationForm.get('startYear')?.errors !== null
                        && employeeEducationForm.get('startYear')?.errors['serverError'])}">
                    <div class="errors" *ngIf="employeeEducationForm.get('startYear').invalid">
                      <div *ngIf="employeeEducationForm.get('startYear').touched || employeeEducationForm.get('startYear').dirty">
                        <div class="invalid-feedback" *ngIf="employeeEducationForm.get('startYear').errors['required']">
                          To pole nie może być puste
                        </div>
                        <div class="invalid-feedback" *ngIf="employeeEducationForm.get('startYear').errors['max']">
                          Wartość nie mieści się w zakresie
                        </div>
                      </div>
                      <div *ngIf="employeeEducationForm.get('startYear')?.errors['serverError']">
                        <div class="invalid-feedback" *ngFor="let error of employeeEducationForm.get('startYear')?.errors['serverError']">
                          {{ error }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group-sm col-md-6">
                    <label class="label-sm">Do</label>
                    <input type="number" class="form-control form-control-sm" placeholder="Rok zakończenia" formControlName="endYear"
                           [ngClass]="{'is-invalid': (employeeEducationForm.get('endYear').invalid
                        && (employeeEducationForm.get('endYear').touched || employeeEducationForm.get('endYear').dirty))
                        || (employeeEducationForm.get('endYear')?.errors !== null
                        && employeeEducationForm.get('endYear')?.errors['serverError'])}">
                    <div class="errors" *ngIf="employeeEducationForm.get('endYear').invalid">
                      <div *ngIf="employeeEducationForm.get('endYear').touched || employeeEducationForm.get('endYear').dirty">
                        <div class="invalid-feedback" *ngIf="employeeEducationForm.get('endYear').errors['max']">
                          Wartość nie mieści się w zakresie
                        </div>
                      </div>
                      <div *ngIf="employeeEducationForm.get('endYear')?.errors['serverError']">
                        <div class="invalid-feedback" *ngFor="let error of employeeEducationForm.get('endYear')?.errors['serverError']">
                          {{ error }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group-sm form-check ml-auto mb-0">
                    <input type="checkbox" class="form-check-input"
                           [checked]="employeeEducationFormCheckboxValue"
                           (change)="toggleFormCheckbox($event)">
                    <label class="form-check-label label-sm">Trwa</label>
                  </div>
                </div>
                <div class="edit-mode-btns-area">
                  <button type="button" class="edit-btn btn btn-secondary btn-sm" (click)="cancelAddingOrEditingEmployeeEducation()">Anuluj</button>
                  <button type="button" class="btn btn-primary btn-sm float-right" (click)="submitChanges()">
                    {{employeeEducationAddMode ? "Dodaj" : "Zapisz"}}&nbsp;&nbsp;
                    <span *ngIf="addingOrEditingEmployeeEducationInProgress">
              <i class="fas fa-spinner fa-spin"></i>
            </span>
                  </button>
                </div>
              </form>
            </div>
          </div>
    </div>
  </div>
  <div class="education col-12">
    <div class="education-history-container" *ngFor="let education of employeeEducationHistory; let i = index;">
      <div class="card border-success mb-3" *ngIf="!isEmployeeEducationElementEdited(i)">
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              <h3 class="card-title m-0 h4">{{education.employeeEducation.schoolName}}
                ({{education.employeeEducation.startYear}}
                -
                {{education.employeeEducation.endYear === null ? 'obecnie' : education.employeeEducation.endYear}})</h3>
            </div>
            <div class="col md-3">
              <div class="btn-group float-right" role="group">
                <button class="btn btn-danger btn-sm" (click)="deleteEmployeeEducationElement(i)">
                  Usuń&nbsp;
                  <span *ngIf="deletingEmployeeEducationInProgress && currentDeletedEmployeeEducationElementIndex === i">
                    <i class="fas fa-spinner fa-spin"></i>
                  </span>
                </button>
                <button class="btn btn-secondary btn-sm" (click)="editEmployeeEducationElement(i)">
                  Edytuj
                </button>
              </div>
            </div>
          </div>
          <p class="m-0 mt-1">{{education.employeeEducation.branchOfStudy}} </p>
          <p class="text-muted">({{education.employeeEducation.speciality}})</p>
          <p class="education-degree">Wykształcenie: {{education.employeeEducation.degree}}</p>
        </div>
      </div>
    </div>
  </div>

