<div class="container page-container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-12 job-offer-title">
          <h2 class="h3 text-center">Ulubione</h2>
        </div>
      </div>
      <div class="offers-container">
        <div class="row">
          <div class="col-12">
            <app-employee-job-offer-tab *ngFor="let offer of favouriteJobOffers"
                               [jobOffer]="offer">
            </app-employee-job-offer-tab>
            <p class="text-center" *ngIf="favouriteJobOffers.length === 0">Nie zapisałeś żadnych ofert.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
