.page-container{
  padding-top: 2rem;
}

.offers-container{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

:host::ng-deep app-job-offer-tab .job-offer>.card {
  border-radius: 0;
  border-bottom: none;
}

:host::ng-deep app-job-offer-tab:last-child .job-offer>.card {
  border-bottom: solid 1px #18BC9C;
}
