<div class="container page-container" *ngIf="jobOffer">
  <div class="row">
    <div class="col-md-9">
      <div class="job-offer-header row">
        <div class="col-12 job-offer-title">
          <h2 class="h3">
            {{jobOffer.title}}
            <span *ngIf="authenticatedAsEmployee">
              <span class="float-right favourite-icon" *ngIf="isSavedAsFavourite"
                (click)="deleteFromFavourite()">
                <i class="fas fa-heart"></i>
              </span>
              <span class="float-right favourite-icon" *ngIf="!isSavedAsFavourite"
                    (click)="markAsFavourite()">
                <i class="far fa-heart"></i>
              </span>
            </span>
          </h2>
          <p class="text-muted h5">({{jobOffer.city}}, {{jobOffer.country}})</p>
        </div>
        <div class="col-12 offer-details tiles">
          <div class="row tiles">
            <div class="col-sm-6 tile">
              <div class="title">Miejsce pracy</div>
              <div class="value">
                {{jobOffer.city}}
              </div>
            </div>
            <div class="col-sm-6 tile">
              <div class="title">Wynagrodzenie</div>
              <div class="value">
                {{jobOffer.salaryFrom}} - {{jobOffer.salaryTo}}{{jobOffer.currency}}
              </div>
            </div>
            <div class="col-sm-6 tile">
              <div class="title">Adres</div>
              <div class="value">
                {{jobOffer.address}}
              </div>
            </div>
            <div class="col-sm-6 tile">
              <div class="title">Doświadczenie</div>
              <div class="value">
                {{jobOffer.experienceLevel}}
              </div>
            </div>
            <div class="col-sm-6 tile">
              <div class="title">Typ umowy</div>
              <div class="value">
                {{jobOffer.invoiceType}}
              </div>
            </div>
            <div class="col-sm-6 tile">
              <div class="title">Wymiar etatu</div>
              <div class="value">
                {{jobOffer.workTime}}
              </div>
            </div>
            <div class="col-sm-6 tile">
              <div class="title"> Możliwość pracy zdalnej</div>
              <div class="value">
                {{jobOffer.remote}}
              </div>
            </div>
            <div class="col-sm-6 tile">
              <div class="title">Data dodania</div>
              <div class="value">
                {{jobOffer.creationDate}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="job-offer-body row">
        <div class="col-12 offer-required-skills">
          <div class="offer-header">
            <h2 class="h4">Wymagane umiejętności</h2>
          </div>
          <div class="skills">
            <span class="badge badge-success skill-tag" *ngFor="let skill of jobOffer.skills">
              {{skill}}
            </span>
          </div>
        </div>
        <div class="col-12 offer-description">
          <div class="offer-header">
            <h2 class="h4">Opis oferty</h2>
          </div>
          <div [innerHtml]="jobOffer.offerDescription | safe: 'html'"></div>
        </div>
      </div>
      <div class="card bg-light row" *ngIf="authenticatedAsEmployee">
        <div class="card-body" *ngIf="!wasAppliedBefore">
          <h3>Aplikuj</h3>
          <form>
            <div class="form-group">
              <label>Dołącz CV</label>
              <input type="file" class="form-control-file float-right" accept="application/pdf"
                     #fileInput
                     (change)="onFileChanged($event)">
            </div>
            <div class="form-group">
              <button role="button" class="btn btn-success float-right"
                      (click)="applyForJob()"
                      [disabled]="!selectedFile">
                Aplikuj&nbsp;
                  <span *ngIf="applyForJobInProgress">
                    <i class="fas fa-spinner fa-spin"></i>
                  </span>
              </button>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
        <div class="card-body" *ngIf="wasAppliedBefore">
          <p class="m-0">Już aplikowałeś na to stanowisko.</p>
        </div>
      </div>

      <div class="card border-warning row" *ngIf="!authenticatedAsEmployee">
        <div class="card-body">
          <h4 class="card-title">Zaluguj się aby aplikować</h4>
          <p class="card-text">Aby aplikować na tą ofertę musisz się zalogować jako pracownik.</p>
          <button type="button" class="btn btn-warning float-right" (click)="redirectToLoginPage()" >Zaloguj się</button>
        </div>
      </div>
      <div class="row action-btns">
        <button class="btn btn-secondary btn" (click)="onBackButtonClick()" >
          Powrót
        </button>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
