<div class="container page-wrapper" *ngIf="!resetPasswordEmailSendSuccess">
    <div class="forgot-password-container">
        <div class="form-container">    
            <form [formGroup]='forgotPasswordForm'>
                <h2 class="form-heading">Zapomniałem hasła</h2>
                <p class="forgot-password-info"> 
                  Wpisz swój adres email. Jeżeli potwierdziłeś go po rejestracji, otrzymasz link, który przekieruje Cię do formularza resetowania hasła.
                </p>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input type="text" class="form-control" placeholder="Email" formControlName='email'
                        [ngClass]="{'is-invalid': (forgotPasswordForm.get('email').invalid 
                            && (forgotPasswordForm.get('email').touched || forgotPasswordForm.get('email').dirty)) 
                            || (forgotPasswordForm.get('email')?.errors !== null 
                            && forgotPasswordForm.get('email')?.errors['serverError'])}">
                        <div class="errors" *ngIf="forgotPasswordForm.get('email').errors !== null">
                            <div class="invalid-feedback" *ngIf="forgotPasswordForm.get('email').touched 
                                && forgotPasswordForm.get('email').errors['required']">
                                    To pole nie może być puste
                            </div>
                            <div class="invalid-feedback" *ngIf="forgotPasswordForm.get('email').errors['email']">
                                Podany email jest nieprawidłowy
                            </div>
                            <div *ngIf="forgotPasswordForm.get('email')?.errors['serverError']">
                                <div class="invalid-feedback" *ngFor="let error of forgotPasswordForm.get('email')?.errors['serverError']">
                                    {{ error }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>              
                <div class="form-submit">
                    <button class="btn btn-lg btn-success btn-block" type="button" role="button" (click)="onSubmit()">
                        Potwierdź&nbsp;&nbsp;
                        <span *ngIf="confirmEmailInProgress">
                            <i class="fas fa-spinner fa-spin"></i>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<app-operation-success *ngIf="resetPasswordEmailSendSuccess"
    title="Adres został zweryfikowany"
    secondary="Na podany adres został wysłany link do zresetowania hasła. Zaloguj się na pocztę i zresetuj swoje hasło.">
        <p class="lead">
            <a class="btn btn-success btn-lg" routerLink='/login' >Przejdź do logowania</a>
        </p>
</app-operation-success>