/* SIMILAR TO LOGIN STYLES */
/* SIMILAR TO RESET PASSWORD STYLES */
/* REFACTOR IN FUTURE */

.forgot-password-container{
    width: 450px;
    padding: 1rem;
    border-radius: 10px;
    border: solid 1px rgb(169, 220, 184);
}

.forgot-password-info{
    text-align: center;
    margin-bottom: 3rem;
}

.form-container{
    padding: 1rem;
}

.form-heading{
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.form-submit{
    padding-top: .5rem;
    padding-bottom: .7rem;
}

.page-wrapper{
    min-height: calc(100vh - 70px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
