.page-wrapper{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem;
}

.error-description{
    text-align: center;
    font-size: 1.5rem;
    color: #a7a7a7;
}