<div class="page-wrapper">
    <h1 class="display-4 font-weight-bold mb-3"> Wystąpił nieoczekiwany błąd</h1>
    <p class="error-description"> Wystąpił niespodziewany błąd. Proszę spróbować później lub skontaktować się z supportem: support.justfindit @gmail.com</p>
    <button class="btn btn-secondary btn-lg" routerLink="/">Powrót do strony głównej</button>
</div>