.search-container{
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.searcher{
  padding: 0 1%;
  padding-bottom: 20vh;
  width: 70%;
  overflow: auto;
}
