<div class="search-container">
  <div class="text-center searcher">
    <h1>
      Welcome to justfindit!
    </h1>
    <div class="search-form">
      <app-search (searchClick)="onSearchClick($event)"></app-search>
    </div>
  </div>
</div>
