<div class="container" *ngIf="employerData">
  <div class="company-container">
    <div class="row">
      <div class="col-lg-4 col-md-5">
        <div class="company-image-container">
          <img class="img-responsive company-image" src="/assets/images/default-company-img.jpg">
        </div>
      </div>
      <div class="col-lg-8 col-md-7">
        <div class="row">
          <div class="col-12">
            <h1>{{employerData.companyName}}</h1>
            <h2 class="lead text-muted m-0" *ngIf="headquarters">{{headquarters.country}} / {{headquarters.city}}</h2>
          </div>
          <div class="about-company col-12">
            <p class="mt-4 {{isInShowMoreMode() ? 'active' : ''}}">
              {{employerData.companyDescription | slice:0:aboutShortenCharLimit}}
              <span *ngIf="isAboutCharLimitReached() && !isInShowMoreMode()"
                    style="cursor: pointer"
                    (click)="showMore()">...&nbsp;&nbsp;<span class="text-btn">Więcej</span>
              </span>
              <span *ngIf="isInShowMoreMode()"
                    style="cursor: pointer"
                    (click)="showLess()">&nbsp;&nbsp;<span class="text-btn">Mniej</span>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-5">
        <div class="row d-block company-section">
          <div class="company-section-heading col-11">
            <h2 class="company-section-heading-title">Używane technologie</h2>
          </div>
          <div class="company-technologies-container col-12">
            <span class="technology-container" *ngFor="let technology of employerData.technologies; let i = index;">
              <span class="badge badge-success tag">
                {{technology.technologyName}}&nbsp;
              </span>
            </span>
          </div>
        </div>
        <div class="row d-block company-section">
          <div class="company-section-heading col-11">
            <h2 class="company-section-heading-title">Siedziby firmy</h2>
          </div>
          <div class="company-locations-container col-11">
            <div class="location-container" *ngFor="let location of employerData.locations; let i = index">
              <div class="row location">
                <div class="col-12 headquarters" *ngIf="employerData.headquartersId === location.employerLocationId">
                  Siedziba główna
                </div>
                <div class="col-12 location-city">
                  {{location.city}} <span class="location-country">({{location.country}})</span>
                </div>
                <div class="col-12 location-address">
                  {{location.street}} {{location.apartmentNumber}} <span *ngIf="location.flatNumber">/{{location.flatNumber}}</span>
                </div>
                <div class="col-12 location-postal-code">
                  {{location.postalCode}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row d-block company-section">
          <div class="company-section-heading col-11">
            <h2 class="company-section-heading-title">Benefity</h2>
          </div>
          <div class="benefits-container col-11">
            <div class="benefit-container" *ngFor="let benefit of employerData.benefits; let i = index">
              <div class="row benefit">
                <div class="col-12 benefit-title">
                  <span>{{benefit.title}}</span>
                </div>
                <div class="col-12 benefit-description">
                  {{benefit.description}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-7">
        <div class="row d-block company-section">
          <div class="company-section-heading col-12">
            <h2 class="company-section-heading-title">Dane firmy</h2>
          </div>
          <div class="company-data">
            <div class="row company-data-row">
              <div class="col-4 company-data-key">Nazwa firmy:</div>
              <div class="col-8">{{ employerData.companyName }}</div>
            </div>
            <div class="row company-data-row">
              <div class="col-4 company-data-key">Email:</div>
              <div class="col-8">{{ employerData.email }}</div>
            </div>
            <div class="row company-data-row">
              <div class="col-4 company-data-key">Rok założenia:</div>
              <div class="col-8">{{ employerData.foundedYear }}</div>
            </div>
            <div class="row company-data-row">
              <div class="col-4 company-data-key">Ilość pracowników:</div>
              <div class="col-8">{{ employerData.companySize }}</div>
            </div>
            <div class="row company-data-row">
              <div class="col-4 company-data-key">Nip:</div>
              <div class="col-8">{{ employerData.nip }}</div>
            </div>
            <div class="row company-data-row">
              <div class="col-4 company-data-key">Strona internetowa:</div>
              <div class="col-8">{{ employerData.websiteUrl }}</div>
            </div>
          </div>
        </div>
        <div class="row d-block company-section">
          <div class="company-section-heading col-12">
            <h2 class="company-section-heading-title">Co tworzymy?</h2>
          </div>
          <div class="col-12 whats-we-creating">
            {{ employerData.whatsWeCreatingDescription }}
          </div>
        </div>
        <div class="row d-block company-section">
          <div class="company-section-heading col-12">
            <h2 class="company-section-heading-title">Dlaczego warto u nas pracować</h2>
          </div>
          <div class="col-12 why-worth-to-work-with-us">
            {{ employerData.workingWithUsDescription }}
          </div>
        </div>
        <div class="row d-block company-section">
          <div class="company-section-heading col-12">
            <h2 class="company-section-heading-title">Praktyki, staże</h2>
          </div>
          <div class="col-12 internship">
            {{ employerData.internshipDescription }}
          </div>
        </div>
        <div class="row d-block company-section">
          <div class="company-section-heading col-12">
            <h2 class="company-section-heading-title">Aktualne oferty pracy</h2>
          </div>
          <div class="job-offers-container col-12">
            <div class="job-offer-container" *ngFor="let offer of employerData.jobOffers">
              <app-job-offer-tab [jobOffer]="offer" [jobOfferUrlPrefix]="'/job-offer'"></app-job-offer-tab>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
