.company-container{
  padding-top: 2rem;
}

.company-image{
  width: 100%;
  height: auto;
}

.company-image-container{
  padding-bottom: 2rem;
  padding-right: 3rem;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767.5px) {
  .company-image-container {
    padding-right: 0;
    margin-left: 0;
  }
}

.about-company{
  height: 9.4rem;
  /*overflow: hidden;*/
}

.about-company p{
  position: relative;
  z-index: 1;
  background-color: white;
  line-height: 1.3rem;
}

.about-company p.active{
  padding-bottom: 10px;
  border-bottom: solid #e3e3e3 1px;
  box-shadow: 10px 15px 20px -21px #c2c2c2;
  border-radius: 5px;
}

.benefit{
  margin-bottom: 1.5rem;
}

.benefits-container{
  margin-top: 2rem;
}

.benefit-description{
  font-size: 0.9rem;
}

.benefit-title{
  font-weight: bold;
  margin-bottom: 0.3rem;
  font-size: 1.05rem;
}

.company-data{
  padding: 0.5rem 0 0;
}

.company-data-row{
  margin: 0.5rem 0;
  line-height: 1.2;
}

.company-data-key{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.company-section{
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.company-section-heading{
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.company-section-heading-title{
  color: #9c9c9c;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
  margin: 0;
}

.company-section-heading .edit-btn{
  margin-left: auto;
}

.education-degree{
  font-size: 1.1rem;
  margin: 0;
}

.headquarters{
  font-size: 0.9rem;
  font-weight: bold;
}

.job-offer-container{
  margin-bottom: 0.5rem;
}

.location{
  margin-bottom: 1rem;
}

.location-address{
  font-size: 0.9rem;
}

.location-city{
  font-size: 1.05rem;
  font-weight: bold;
  margin-bottom: 0.1rem;
}

.location-country{
  font-weight: normal;
  font-size: 1rem;
  color: gray;
}

.location-postal-code{
  font-size: 0.9rem;
}

.text-btn{
  color: #18bc9c;
}

.tag{
  margin: 0.1rem;
  font-size: 1rem;
  font-weight: normal;
}
