<div class="container page-container" *ngIf="jobOffer">
  <form [formGroup]="editJobOfferForm">
    <div class="row d-block page-title">
      <h1 class="text-center">Edytuj ofertę pracy</h1>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="form-group-sm-sm-sm col-md-12">
            <label class="label-sm">Tytuł</label>
            <input type="text" class="form-control form-control-sm" placeholder="Tytuł" formControlName="title"
                   [ngClass]="{'is-invalid': (editJobOfferForm.get('title').invalid
                                  && (editJobOfferForm.get('title').touched || editJobOfferForm.get('title').dirty))
                                  || (editJobOfferForm.get('title')?.errors !== null
                                  && editJobOfferForm.get('title')?.errors['serverError'])}">
            <div class="errors" *ngIf="editJobOfferForm.get('title').invalid">
              <div *ngIf="editJobOfferForm.get('title').touched || editJobOfferForm.get('title').dirty">
                <div class="invalid-feedback" *ngIf="editJobOfferForm.get('title').errors['required']">
                  To pole nie może być puste
                </div>
              </div>
              <div *ngIf="editJobOfferForm.get('title')?.errors['serverError']">
                <div class="invalid-feedback" *ngFor="let error of editJobOfferForm.get('title')?.errors['serverError']">
                  {{ error }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group-sm col-md-6">
            <label class="label-sm">Kraj</label>
            <input type="text" class="form-control form-control-sm" placeholder="Kraj" formControlName="country"
                   [ngClass]="{'is-invalid': (editJobOfferForm.get('country').invalid
                                  && (editJobOfferForm.get('country').touched || editJobOfferForm.get('country').dirty))
                                  || (editJobOfferForm.get('country')?.errors !== null
                                  && editJobOfferForm.get('country')?.errors['serverError'])}">
            <div class="errors" *ngIf="editJobOfferForm.get('country').invalid">
              <div *ngIf="editJobOfferForm.get('country').touched || editJobOfferForm.get('country').dirty">
                <div class="invalid-feedback" *ngIf="editJobOfferForm.get('country').errors['required']">
                  To pole nie może być puste
                </div>
              </div>
              <div *ngIf="editJobOfferForm.get('country')?.errors['serverError']">
                <div class="invalid-feedback" *ngFor="let error of editJobOfferForm.get('country')?.errors['serverError']">
                  {{ error }}
                </div>
              </div>
            </div>
          </div>
          <div class="form-group-sm col-md-6">
            <label class="label-sm">Miasto</label>
            <input type="text" class="form-control form-control-sm" placeholder="Miasto" formControlName="city"
                   [ngClass]="{'is-invalid': (editJobOfferForm.get('city').invalid
                                  && (editJobOfferForm.get('city').touched || editJobOfferForm.get('city').dirty))
                                  || (editJobOfferForm.get('city')?.errors !== null
                                  && editJobOfferForm.get('city')?.errors['serverError'])}">
            <div class="errors" *ngIf="editJobOfferForm.get('city').invalid">
              <div *ngIf="editJobOfferForm.get('city').touched || editJobOfferForm.get('city').dirty">
                <div class="invalid-feedback" *ngIf="editJobOfferForm.get('city').errors['required']">
                  To pole nie może być puste
                </div>
              </div>
              <div *ngIf="editJobOfferForm.get('city')?.errors['serverError']">
                <div class="invalid-feedback" *ngFor="let error of editJobOfferForm.get('city')?.errors['serverError']">
                  {{ error }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label class="label-sm">Wynagrodzenie miesięczne</label>
          </div>
          <div class="form-group-sm col-md-4">
            <input type="number" class="form-control form-control-sm" placeholder="Od" formControlName="salaryFrom"
                   [ngClass]="{'is-invalid': (editJobOfferForm.get('salaryFrom').invalid
                                  && (editJobOfferForm.get('salaryFrom').touched || editJobOfferForm.get('salaryFrom').dirty))
                                  || (editJobOfferForm.get('salaryFrom')?.errors !== null
                                  && editJobOfferForm.get('salaryFrom')?.errors['serverError'])}">
            <div class="errors" *ngIf="editJobOfferForm.get('salaryFrom').invalid">
              <div *ngIf="editJobOfferForm.get('salaryFrom').touched || editJobOfferForm.get('salaryFrom').dirty">
                <div class="invalid-feedback" *ngIf="editJobOfferForm.get('salaryFrom').errors['required']">
                  To pole nie może być puste
                </div>
              </div>
              <div *ngIf="editJobOfferForm.get('salaryFrom')?.errors['serverError']">
                <div class="invalid-feedback" *ngFor="let error of editJobOfferForm.get('salaryFrom')?.errors['serverError']">
                  {{ error }}
                </div>
              </div>
            </div>
          </div>
          <div class="form-group-sm col-md-4">
            <input type="number" class="form-control form-control-sm" placeholder="Do" formControlName="salaryTo"
                   [ngClass]="{'is-invalid': (editJobOfferForm.get('salaryTo').invalid
                                  && (editJobOfferForm.get('salaryTo').touched || editJobOfferForm.get('salaryTo').dirty))
                                  || (editJobOfferForm.get('salaryTo')?.errors !== null
                                  && editJobOfferForm.get('salaryTo')?.errors['serverError'])}">
            <div class="errors" *ngIf="editJobOfferForm.get('salaryTo').invalid">
              <div *ngIf="editJobOfferForm.get('salaryTo').touched || editJobOfferForm.get('salaryTo').dirty">
                <div class="invalid-feedback" *ngIf="editJobOfferForm.get('salaryTo').errors['required']">
                  To pole nie może być puste
                </div>
              </div>
              <div *ngIf="editJobOfferForm.get('salaryTo')?.errors['serverError']">
                <div class="invalid-feedback" *ngFor="let error of editJobOfferForm.get('salaryTo')?.errors['serverError']">
                  {{ error }}
                </div>
              </div>
            </div>
          </div>
          <div class="form-group-sm col-md-4">
            <select class="form-control form-control-sm" formControlName='currency'
                    [ngClass]="{'is-invalid': (editJobOfferForm.get('currency').invalid
                                  && (editJobOfferForm.get('currency').touched || editJobOfferForm.get('currency').dirty))
                                  || (editJobOfferForm.get('currency')?.errors !== null
                                  && editJobOfferForm.get('currency')?.errors['serverError'])}">
              <option [value]="APPLICATION_CURRENCY_VALUES.PLN">PLN</option>
              <option [value]="APPLICATION_CURRENCY_VALUES.USD">USD</option>
              <option [value]="APPLICATION_CURRENCY_VALUES.EUR">EUR</option>
              <option [value]="APPLICATION_CURRENCY_VALUES.GBP">GBP</option>
            </select>
            <div class="errors" *ngIf="editJobOfferForm.get('currency').invalid">
              <div *ngIf="editJobOfferForm.get('currency').touched || editJobOfferForm.get('currency').dirty">
                <div class="invalid-feedback" *ngIf="editJobOfferForm.get('currency').errors['required']">
                  To pole nie może być puste
                </div>
              </div>
              <div *ngIf="editJobOfferForm.get('currency')?.errors['serverError']">
                <div class="invalid-feedback" *ngFor="let error of editJobOfferForm.get('currency')?.errors['serverError']">
                  {{ error }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group-sm col-md-12">
            <label class="label-sm">Wymaganie doświadczenie</label>
            <select class="form-control form-control-sm" formControlName='experienceLevel'
                    [ngClass]="{'is-invalid': (editJobOfferForm.get('experienceLevel').invalid
                                  && (editJobOfferForm.get('experienceLevel').touched || editJobOfferForm.get('experienceLevel').dirty))
                                  || (editJobOfferForm.get('experienceLevel')?.errors !== null
                                  && editJobOfferForm.get('experienceLevel')?.errors['serverError'])}">
              <option [value]="APPLICATION_JOB_EXPERIENCE_VALUES.ANY">Bez preferencji</option>
              <option [value]="APPLICATION_JOB_EXPERIENCE_VALUES.JUNIOR">Junior</option>
              <option [value]="APPLICATION_JOB_EXPERIENCE_VALUES.MID">Mid</option>
              <option [value]="APPLICATION_JOB_EXPERIENCE_VALUES.SENIOR">Senior</option>
            </select>
            <div class="errors" *ngIf="editJobOfferForm.get('experienceLevel').invalid">
              <div *ngIf="editJobOfferForm.get('experienceLevel').touched || editJobOfferForm.get('experienceLevel').dirty">
                <div class="invalid-feedback" *ngIf="editJobOfferForm.get('experienceLevel').errors['required']">
                  To pole nie może być puste
                </div>
              </div>
              <div *ngIf="editJobOfferForm.get('experienceLevel')?.errors['serverError']">
                <div class="invalid-feedback" *ngFor="let error of editJobOfferForm.get('experienceLevel')?.errors['serverError']">
                  {{ error }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group-sm col-md-6">
            <label class="label-sm">Wymiar etatu</label>
            <input type="text" class="form-control form-control-sm" placeholder="Wymiar etatu" formControlName="workTime"
                   [ngClass]="{'is-invalid': (editJobOfferForm.get('workTime').invalid
                                  && (editJobOfferForm.get('workTime').touched || editJobOfferForm.get('workTime').dirty))
                                  || (editJobOfferForm.get('workTime')?.errors !== null
                                  && editJobOfferForm.get('workTime')?.errors['serverError'])}">
            <div class="errors" *ngIf="editJobOfferForm.get('workTime').invalid">
              <div *ngIf="editJobOfferForm.get('workTime').touched || editJobOfferForm.get('workTime').dirty">
                <div class="invalid-feedback" *ngIf="editJobOfferForm.get('workTime').errors['required']">
                  To pole nie może być puste
                </div>
              </div>
              <div *ngIf="editJobOfferForm.get('workTime')?.errors['serverError']">
                <div class="invalid-feedback" *ngFor="let error of editJobOfferForm.get('workTime')?.errors['serverError']">
                  {{ error }}
                </div>
              </div>
            </div>
          </div>
          <div class="form-group-sm col-md-6">
            <label class="label-sm">Typ umowy</label>
            <input type="text" class="form-control form-control-sm" placeholder="Typ umowy" formControlName="invoiceType"
                   [ngClass]="{'is-invalid': (editJobOfferForm.get('invoiceType').invalid
                                  && (editJobOfferForm.get('invoiceType').touched || editJobOfferForm.get('invoiceType').dirty))
                                  || (editJobOfferForm.get('invoiceType')?.errors !== null
                                  && editJobOfferForm.get('invoiceType')?.errors['serverError'])}">
            <div class="errors" *ngIf="editJobOfferForm.get('invoiceType').invalid">
              <div *ngIf="editJobOfferForm.get('invoiceType').touched || editJobOfferForm.get('invoiceType').dirty">
                <div class="invalid-feedback" *ngIf="editJobOfferForm.get('invoiceType').errors['required']">
                  To pole nie może być puste
                </div>
              </div>
              <div *ngIf="editJobOfferForm.get('invoiceType')?.errors['serverError']">
                <div class="invalid-feedback" *ngFor="let error of editJobOfferForm.get('invoiceType')?.errors['serverError']">
                  {{ error }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group-sm col-md-12">
            <label class="label-sm">Adres</label>
            <input type="text" class="form-control form-control-sm" placeholder="Adres" formControlName="address"
                   [ngClass]="{'is-invalid': (editJobOfferForm.get('address').invalid
                                  && (editJobOfferForm.get('address').touched || editJobOfferForm.get('address').dirty))
                                  || (editJobOfferForm.get('address')?.errors !== null
                                  && editJobOfferForm.get('address')?.errors['serverError'])}">
            <div class="errors" *ngIf="editJobOfferForm.get('address').invalid">
              <div *ngIf="editJobOfferForm.get('address').touched || editJobOfferForm.get('address').dirty">
                <div class="invalid-feedback" *ngIf="editJobOfferForm.get('address').errors['required']">
                  To pole nie może być puste
                </div>
              </div>
              <div *ngIf="editJobOfferForm.get('address')?.errors['serverError']">
                <div class="invalid-feedback" *ngFor="let error of editJobOfferForm.get('address')?.errors['serverError']">
                  {{ error }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group-sm col-md-12">
            <label class="label-sm">Możliwość pracy zdalnej</label>
            <input type="text" class="form-control form-control-sm" placeholder="Możliwość pracy zdalnej" formControlName="remote"
                   [ngClass]="{'is-invalid': (editJobOfferForm.get('remote').invalid
                                  && (editJobOfferForm.get('remote').touched || editJobOfferForm.get('remote').dirty))
                                  || (editJobOfferForm.get('remote')?.errors !== null
                                  && editJobOfferForm.get('remote')?.errors['serverError'])}">
            <div class="errors" *ngIf="editJobOfferForm.get('remote').invalid">
              <div *ngIf="editJobOfferForm.get('remote').touched || editJobOfferForm.get('remote').dirty">
                <div class="invalid-feedback" *ngIf="editJobOfferForm.get('remote').errors['required']">
                  To pole nie może być puste
                </div>
              </div>
              <div *ngIf="editJobOfferForm.get('remote')?.errors['serverError']">
                <div class="invalid-feedback" *ngFor="let error of editJobOfferForm.get('remote')?.errors['serverError']">
                  {{ error }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="form-group-sm col-md-12">
            <label class="label-sm">Opis ogłoszenia</label>
            <angular-editor formControlName="offerDescription" [config]="editorConfig"
                            [ngClass]="{'is-invalid': (editJobOfferForm.get('offerDescription').invalid
                                  && (editJobOfferForm.get('offerDescription').touched || editJobOfferForm.get('offerDescription').dirty))
                                  || (editJobOfferForm.get('offerDescription')?.errors !== null
                                  && editJobOfferForm.get('offerDescription')?.errors['serverError'])}">
            </angular-editor>
            <div class="errors" *ngIf="editJobOfferForm.get('offerDescription').invalid" >
              <div *ngIf="editJobOfferForm.get('offerDescription').touched || editJobOfferForm.get('offerDescription').dirty">
                <div class="invalid-feedback" *ngIf="editJobOfferForm.get('offerDescription').errors['required']">
                  To pole nie może być puste
                </div>
              </div>
              <div *ngIf="editJobOfferForm.get('offerDescription')?.errors['serverError']">
                <div class="invalid-feedback" *ngFor="let error of editJobOfferForm.get('offerDescription')?.errors['serverError']">
                  {{ error }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label class="label-sm">Umiejętności</label>
          </div>
          <div class="form-group-sm col-md-6">
            <input type="text" class="form-control form-control-sm" placeholder="Umiejętności"
                   [value]="technologyInputValue"
                   (input)="onTechnologyInput($event)"
                   (blur)="autocompletionVisible = false">
            <ul class="list-unstyled autocomplete" *ngIf="autocompletionVisible" (mousedown)="$event.preventDefault();">
              <li class="autocomplete-option"
                  *ngFor="let option of technologyAutocompleteOptions; let i = index;"
                  (click)="onClickAutocompleteOption(i)">
                {{option}}
              </li>
            </ul>
          </div>
          <div class="form-group-sm col-md-6">
            <button class="btn btn-success btn-sm" (click)="addSkill()" >Dodaj</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">

            <!--TAGS-->
            <span class="badge badge-success tag" *ngFor="let tag of jobOffer.skills; let i = index">
                {{ tag }}
                <span style="cursor: pointer;" (click)="jobOffer.skills.splice(i, 1)">
                  <i class="fas fa-window-close"></i>
                </span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="edit-mode-btns-area">
      <button type="button" class="edit-btn btn btn-secondary" (click)="onCancel()">Anuluj</button>
      <button type="button" class="btn btn-primary float-right" (click)="editJobOffer()" [disabled]="!isFormValid()">
        Zapisz&nbsp;&nbsp;
        <span *ngIf="editingJobOfferInProgress">
          <i class="fas fa-spinner fa-spin"></i>
        </span>
      </button>
    </div>
  </form>
</div>
