<div class="profile-section-heading col-11">
  <h2 class="profile-section-heading-title">Umiejętności</h2>
  <button class="edit-btn btn btn-secondary btn-sm" (click)="addEmployeeSkill()">Dodaj</button>
</div>
<div class="skills-add-mode col-11" *ngIf="employeeSkillAddMode">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="addEmployeeSkillForm">
        <div class="form-group-sm">
          <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Technologia"
            formControlName="skillName"
            (blur)="autocompletionVisible = false">
          <ul class="list-unstyled autocomplete" *ngIf="autocompletionVisible" (mousedown)="$event.preventDefault();">
            <li class="autocomplete-option"
                *ngFor="let option of skillsAutocompleteOptions; let i = index;"
                (click)="onClickAutocompleteOption(i)">
              {{option}}
            </li>
          </ul>
        </div>
        <div class="form-group-sm">
          <select class="form-control form-control-sm" placeholder="Poziom" formControlName="level">
            <option value=1>Początkujący</option>
            <option value=2>Podstawowy</option>
            <option value=3>Średniozaawansowany</option>
            <option value=4>Zaawansowany</option>
            <option value=5>Ekspert</option>
          </select>
        </div>
        <button type="button" class="btn btn-sm btn-secondary float-left" (click)="cancelAddingEmployeeSkill()">Anuluj</button>
        <button type="button" class="btn btn-sm btn-primary float-right" (click)="submitAddingEmployeeSkill()">
          Dodaj&nbsp;
          <span *ngIf="addingEmployeeSkillInProgress">
            <i class="fas fa-spinner fa-spin"></i>
          </span>
        </button>
      </form>
    </div>
  </div>
</div>
<div class="skills-edit-mode col-11" *ngIf="employeeSkillEditMode">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="editEmployeeSkillForm">
        <div class="form-group-sm">
          <input type="text" readonly class="form-control-plaintext  form-control-sm" formControlName="readonlySkillName">
        </div>
        <div class="form-group-sm">
          <select class="form-control form-control-sm" placeholder="Poziom" formControlName="level">
            <option value=1>Początkujący</option>
            <option value=2>Podstawowy</option>
            <option value=3>Średniozaawansowany</option>
            <option value=4>Zaawansowany</option>
            <option value=5>Ekspert</option>
          </select>
        </div>
        <button type="button" class="btn btn-sm btn-secondary float-left" (click)="cancelEditingEmployeeSkill()">Anuluj</button>
        <button type="button" class="btn btn-sm btn-primary float-right" (click)="submitEditingEmployeeSkill()">
          Zapisz&nbsp;
          <span *ngIf="editingEmpoyeeSkillInProgress">
            <i class="fas fa-spinner fa-spin"></i>
          </span>
        </button>
      </form>
    </div>
  </div>
</div>
<div class="skills-container col-11">
  <div class="row" *ngFor="let skill of employeeSkills; let i = index;">
    <div class="col-lg-5 col-6">{{skill.skillName}}:</div>
    <div class="col-4 p-0">
      <app-star-rating [rate]="skill.level"></app-star-rating>
    </div>
    <div class="col-2 p-0 pl-1">
      <span (click)="editEmployeeSkillElement(i)" class="icon-btn">
        <i class="fas fa-edit"></i>
      </span>
      <span (click)="deleteEmployeeSkillElement(i)" class="icon-btn icon-danger">
        <i class="fas fa-trash-alt"></i>
      </span>
    </div>
  </div>
</div>
