<div class="registration-step-title">
    <h1 class="text-center">Podsumowanie</h1>
</div>
<div class="registration-form-container">
    <div *ngIf='currentRegistrationType === "employee"'>
        <div class="row server-errors-summary d-block" *ngIf="errorsFromServer.length > 0">
            <div *ngFor="let errorsArray of errorsFromServer">
                <p class="server-error-message" *ngFor="let error of errorsArray">{{ error }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>Imię</th>
                            <td>{{ employee.name }}</td>
                        </tr>
                        <tr>
                            <th>Nazwisko</th>
                            <td>{{ employee.surname }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ employee.email }}</td>
                        </tr>
                        <tr>
                            <th>Płeć</th>
                            <td>{{ polishApplicationGenderOptionsTranslator.translateGender(employee.sex)}}</td>
                        </tr>
                        <tr>
                          <th>O mnie</th>
                          <td>{{ employee.about }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>Data Urodzenia</th>
                            <td>{{ employee.birthDate }}</td>
                        </tr>
                        <tr>
                            <th>Numer telefonu</th>
                            <td>{{ employee.phone }}</td>
                        </tr>
                        <tr>
                            <th>Kraj</th>
                            <td>{{ employee.country }}</td>
                        </tr>
                        <tr>
                            <th>Miasto</th>
                            <td>{{ employee.city }}</td>
                        </tr>
                        <tr>
                          <th>Adres strony internetowej</th>
                          <td>{{ employee.websiteUrl }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div *ngIf='currentRegistrationType === "employer"'>
        <div class="row server-errors-summary d-block" *ngIf="errorsFromServer.length > 0">
            <div *ngFor="let errorsArray of errorsFromServer">
                <p class="server-error-message" *ngFor="let error of errorsArray">{{ error }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>Nazwa Firmy</th>
                            <td>{{ employer.companyName }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ employer.email }}</td>
                        </tr>
                        <tr>
                            <th>Opis firmy</th>
                            <td>{{ employer.companyDescription }}</td>
                        </tr>
                        <tr>
                            <th>NIP</th>
                            <td>{{ employer.nip }}</td>
                        </tr>
                        <tr>
                            <th>Ilość pracowników</th>
                            <td>{{ employer.companySize }}</td>
                        </tr>
                        <tr>
                            <th>Rok założenia</th>
                            <td>{{ employer.foundedYear }}</td>
                        </tr>
                        <tr>
                            <th>Adres strony internetowej</th>
                            <td>{{ employer.websiteUrl }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>Ulica</th>
                            <td>{{ employer.street }}</td>
                        </tr>
                        <tr>
                            <th>Numer domu/bloku</th>
                            <td>{{ employer.apartmentNumber }}</td>
                        </tr>
                        <tr>
                            <th>Numer lokalu</th>
                            <td>{{ employer.flatNumber }}</td>
                        </tr>
                        <tr>
                            <th>Kraj</th>
                            <td>{{ employer.country }}</td>
                        </tr>
                        <tr>
                            <th>Miasto</th>
                            <td>{{ employer.city }}</td>
                        </tr>
                        <tr>
                            <th>Kod pocztowy</th>
                            <td>{{ employer.postalCode }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="navigation-btns-container">
    <button type="button" class="btn btn-lg btn-danger" (click)="prev()">Wróć</button>
    <button type="button" class="btn btn-lg btn-success" (click)="submit()">
        <!-- [disabled]="registrationInProgress"> -->
        Zatwierdź&nbsp;&nbsp;
        <span *ngIf="registrationInProgress">
            <i class="fas fa-spinner fa-spin"></i>
        </span>
    </button>
</div>
