.navigation-btns-container{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.registration-form-container{
    padding: 2rem;
}

.server-error-message{
    width: 100%;
    margin: .05rem;
    font-size: 80%;
    color: #E74C3C;
}

.server-errors-summary{
    border-radius: 7px;
    background-color: #ffe2e2;
    margin-bottom: 2rem;
    padding: .5rem 1rem;
}