.search-icon{
    cursor: pointer;
    flex: 1 auto;
}

.search-icon-container{}

.search-tags{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 5px;
    max-width: 55%;
}

.searchbox{
    width: 100%;
    min-height: 50px;
    display: flex;
    padding: 0.2rem 0.75rem;
    font-size: 0.9375rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    line-height: 42px;
    cursor: text;
    position: relative;
}

.searchbox-small{
  width: 100%;
  min-height: 30px;
  display: flex;
  padding: 0.2rem 0.75rem;
  font-size: 0.9375rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  line-height: 22px;
  cursor: text;
  position: relative;
}

.searchbox ::-moz-placeholder {
    color: #95a5a6;
}
.searchbox  :-ms-input-placeholder {
    color: #95a5a6;
}
.searchbox ::-webkit-input-placeholder {
    color:#95a5a6;
}

.searchbox-input{
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    color: #7b8a8b;
    background-color: #fff;
    outline: none;
    border: none;
    font-size: 1.2rem;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 70%;
}

.searchbox-input-small{
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  color: #7b8a8b;
  background-color: #fff;
  outline: none;
  border: none;
  font-size: 0.9rem;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 70%;
}

.searchbox-input-container{
    width: 45%;
}

.tag{
    margin: 0.03rem;
    font-size: 85%;
}





