
    <form #f="ngForm">
          <div class="searchbox {{size === 'small' ? 'searchbox-small' : ''}}" (click)="onSearchboxClick()">
            <!-- TAGS -->
            <div class="search-tags">
              <span
                *ngIf="salaryTag != ''"
                class="badge badge-dark tag">
                Salary: {{salaryTag}}
                &nbsp;
                <span (click)="onSalaryTagRemove()" style="cursor: pointer;">
                  <i class="fas fa-window-close"></i>
                </span>
              </span>
              <span
                class="badge badge-warning tag"
                *ngFor="let city of cityTags; let i=index">
                {{city | capitalize}}
                &nbsp;
                <span (click)="onCityTagRemove(i)" style="cursor: pointer;">
                  <i class="fas fa-window-close"></i>
                </span>
              </span>
              <span
                class="badge badge-success tag"
                *ngFor="let tag of skillTags; let i=index">
                {{tag}}
                &nbsp;
                <span (click)="onSkillTagRemove(i)" style="cursor: pointer;">
                  <i class="fas fa-window-close"></i>
                </span>
              </span>
            </div>
            <!-- RESIZABLE INPUT -->
            <div class="searchbox-input-container">
                <input
                  #searchInput
                  type="text"
                  class="searchbox-input {{size === 'small' ? 'searchbox-input-small' : ''}}"
                  id="searcher"
                  aria-describedby="searchHelp"
                  placeholder="{{skillTags.length === 0 && cityTags.length === 0 && salaryTag === '' ? 'Enter your skills...' : ''}}"
                  [(ngModel)]="phrase"
                  name="phrase"
                  (keydown)="onKeyDown($event)"
                  (keyup)="onInput($event)">
            </div>
            <!-- SEARCH ICON -->
            <div class="search-icon-container ml-auto mt-auto mb-auto" (click)="onSubmit()">
              <i class="fas fa-search search-icon {{size === 'normal' ? 'fa-2x' : ''}}"></i>
            </div>
          </div>
          <small id="searchHelp" class="form-text text-muted">Type skills, press SPACE twice or TAB to move to next skills. To enter salary use pattern &gt;5000 PLN|EUR|USD|GBP. To enter city use pattern [Kraków]</small>
    </form>
