<div class="registration-step-title">
    <h1 class="text-center">Dane osobowe</h1>
</div>
<div class="registration-form-container">
    <form [formGroup]='personalDataForm'>
        <div class="form-row">
            <div class="col-md-12">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="">Imię</label>
                        <input type="text" class="form-control" placeholder="Imię" formControlName='name' [ngClass]="{'is-invalid': (personalDataForm.get('name').invalid
                                && (personalDataForm.get('name').touched || personalDataForm.get('name').dirty))
                                || (personalDataForm.get('name')?.errors !== null
                                && personalDataForm.get('name')?.errors['serverError'])}">
                        <div class="errors" *ngIf="personalDataForm.get('name').invalid">
                            <div class="invalid-feedback" *ngIf="personalDataForm.get('name').touched
                                    && personalDataForm.get('name').errors['required']">
                                To pole nie może być puste
                            </div>
                            <div *ngIf="personalDataForm.get('name')?.errors['serverError']">
                                <div class="invalid-feedback" *ngFor="let error of personalDataForm.get('name')?.errors['serverError']">
                                    {{ error }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="">Nazwisko</label>
                        <input type="text" class="form-control" placeholder="Nazwisko" formControlName='surname' [ngClass]="{'is-invalid': (personalDataForm.get('surname').invalid
                                && (personalDataForm.get('surname').touched || personalDataForm.get('surname').dirty))
                                || (personalDataForm.get('surname')?.errors !== null
                                && personalDataForm.get('surname')?.errors['serverError'])}">
                        <div class="errors" *ngIf="personalDataForm.get('surname').invalid">
                            <div class="invalid-feedback" *ngIf="personalDataForm.get('surname').touched
                                    && personalDataForm.get('surname').errors['required']">
                                To pole nie może być puste
                            </div>
                            <div *ngIf="personalDataForm.get('surname')?.errors['serverError']">
                                <div class="invalid-feedback" *ngFor="let error of personalDataForm.get('surname')?.errors['serverError']">
                                    {{ error }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="">Data urodzenia</label>
                        <input type="date" class="form-control" formControlName='birthDate' [ngClass]="{'is-invalid': (personalDataForm.get('birthDate').invalid
                                && (personalDataForm.get('birthDate').touched || personalDataForm.get('birthDate').dirty))
                                || (personalDataForm.get('birthDate')?.errors !== null
                                && personalDataForm.get('birthDate')?.errors['serverError'])}">
                        <div class="errors" *ngIf="personalDataForm.get('birthDate').invalid">
                            <div class="invalid-feedback" *ngIf="personalDataForm.get('birthDate').touched
                                    && personalDataForm.get('birthDate').errors['required']">
                                To pole nie może być puste
                            </div>
                            <div *ngIf="personalDataForm.get('birthDate')?.errors['serverError']">
                                <div class="invalid-feedback" *ngFor="let error of personalDataForm.get('birthDate')?.errors['serverError']">
                                    {{ error }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="">Płeć</label>
                        <select class="custom-select" formControlName='sex'>
                            <option [value]="applicationGenderOptions.nodefined">Wolę nie podawać</option>
                            <option [value]="applicationGenderOptions.woman">Kobieta</option>
                            <option [value]="applicationGenderOptions.man">Mężczyzna</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="">Numer telefonu</label>
                        <input type="tel" class="form-control" placeholder="Numer telefonu" formControlName='phone'>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="">Kraj</label>
                        <input type="text" class="form-control" placeholder="Kraj" formControlName='country' [ngClass]="{'is-invalid': (personalDataForm.get('country').invalid
                                && (personalDataForm.get('country').touched || personalDataForm.get('country').dirty))
                                || (personalDataForm.get('country')?.errors !== null
                                && personalDataForm.get('country')?.errors['serverError'])}">
                        <div class="errors" *ngIf="personalDataForm.get('country').invalid">
                            <div class="invalid-feedback" *ngIf="personalDataForm.get('country').touched
                                    && personalDataForm.get('country').errors['required']">
                                To pole nie może być puste
                            </div>
                            <div *ngIf="personalDataForm.get('country')?.errors['serverError']">
                                <div class="invalid-feedback" *ngFor="let error of personalDataForm.get('country')?.errors['serverError']">
                                    {{ error }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Miasto</label>
                        <input type="text" class="form-control" placeholder="Miasto" formControlName='city' [ngClass]="{'is-invalid': (personalDataForm.get('city').invalid
                                && (personalDataForm.get('city').touched || personalDataForm.get('city').dirty))
                                || (personalDataForm.get('city')?.errors !== null
                                && personalDataForm.get('city')?.errors['serverError'])}">
                        <div class="errors" *ngIf="personalDataForm.get('city').invalid">
                            <div class="invalid-feedback" *ngIf="personalDataForm.get('city').touched
                                    && personalDataForm.get('city').errors['required']">
                                To pole nie może być puste
                            </div>
                            <div *ngIf="personalDataForm.get('city')?.errors['serverError']">
                                <div class="invalid-feedback" *ngFor="let error of personalDataForm.get('city')?.errors['serverError']">
                                    {{ error }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="">Adres strony interetowej</label>
                        <input type="text" class="form-control" placeholder="Adres strony internetowej" formControlName='websiteUrl' [ngClass]="{'is-invalid': (personalDataForm.get('websiteUrl').invalid
                                            && (personalDataForm.get('websiteUrl').touched || personalDataForm.get('websiteUrl').dirty))
                                            || (personalDataForm.get('websiteUrl')?.errors !== null
                                            && personalDataForm.get('websiteUrl')?.errors['serverError'])}">
                        <div class="errors" *ngIf="personalDataForm.get('websiteUrl').invalid">
                            <div class="invalid-feedback" *ngIf="personalDataForm.get('websiteUrl').touched
                                                && personalDataForm.get('websiteUrl').errors['required']">
                                To pole nie może być puste
                            </div>
                            <div *ngIf="personalDataForm.get('websiteUrl')?.errors['serverError']">
                                <div class="invalid-feedback" *ngFor="let error of personalDataForm.get('websiteUrl')?.errors['serverError']">
                                    {{ error }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="">O mnie</label>
                        <textarea rows=3 class="form-control" formControlName='about'>

                        </textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="navigation-btns-container">
    <button type="button" class="btn btn-lg btn-danger" (click)="prev()">Wróć</button>
    <button type="button" class="btn btn-lg btn-success" (click)="next()">Dalej</button>
</div>
