<div class="company-section-heading col-12">
  <h2 class="company-section-heading-title">Dane firmy</h2>
  <button class="edit-btn btn btn-secondary btn-sm" (click)="editCompanyData()"
          *ngIf="!companyDataEditMode">
    Edytuj
  </button>
</div>
<div class="company-data" *ngIf="!companyDataEditMode">
  <div class="row company-data-row">
    <div class="col-4 company-data-key">Nazwa firmy:</div>
    <div class="col-8">{{ employerData.companyName }}</div>
  </div>
  <div class="row company-data-row">
    <div class="col-4 company-data-key">Email:</div>
    <div class="col-8">{{ employerData.email }}</div>
  </div>
  <div class="row company-data-row">
    <div class="col-4 company-data-key">Rok założenia:</div>
    <div class="col-8">{{ employerData.foundedYear }}</div>
  </div>
  <div class="row company-data-row">
    <div class="col-4 company-data-key">Ilość pracowników:</div>
    <div class="col-8">{{ employerData.companySize }}</div>
  </div>
  <div class="row company-data-row">
    <div class="col-4 company-data-key">Nip:</div>
    <div class="col-8">{{ employerData.nip }}</div>
  </div>
  <div class="row company-data-row">
    <div class="col-4 company-data-key">Strona internetowa:</div>
    <div class="col-8">{{ employerData.websiteUrl }}</div>
  </div>
</div>
<div class="personal-data-edit-mode" *ngIf="companyDataEditMode">
  <div class="col-12">
    <form [formGroup]='editCompanyDataForm'>
      <div class="row">
        <div class="form-group-sm col-md-6">
          <label class="label-sm">Nazwa firmy</label>
          <input type="text" class="form-control form-control-sm" placeholder="Nazwa firmy" formControlName='companyName'
                 [ngClass]="{'is-invalid': (editCompanyDataForm.get('companyName').invalid
                                && (editCompanyDataForm.get('companyName').touched || editCompanyDataForm.get('companyName').dirty))
                                || (editCompanyDataForm.get('companyName')?.errors !== null
                                && editCompanyDataForm.get('companyName')?.errors['serverError'])}">
          <div class="errors" *ngIf="editCompanyDataForm.get('companyName').invalid">
            <div *ngIf="editCompanyDataForm.get('companyName').touched || editCompanyDataForm.get('companyName').dirty">
              <div class="invalid-feedback" *ngIf="editCompanyDataForm.get('companyName').errors['required']">
                To pole nie może być puste
              </div>
            </div>
            <div *ngIf="editCompanyDataForm.get('companyName')?.errors['serverError']">
              <div class="invalid-feedback" *ngFor="let error of editCompanyDataForm.get('companyName')?.errors['serverError']">
                {{ error }}
              </div>
            </div>
          </div>
        </div>
        <div class="form-group-sm col-md-6">
          <label class="label-sm">Email</label>
          <input type="text" class="form-control form-control-sm" placeholder="Email" formControlName='email'
                 [ngClass]="{'is-invalid': (editCompanyDataForm.get('email').invalid
                                && (editCompanyDataForm.get('email').touched || editCompanyDataForm.get('email').dirty))
                                || (editCompanyDataForm.get('email')?.errors !== null
                                && editCompanyDataForm.get('email')?.errors['serverError'])}">
          <div class="errors" *ngIf="editCompanyDataForm.get('email').invalid">
            <div *ngIf="editCompanyDataForm.get('email').touched || editCompanyDataForm.get('email').dirty">
              <div class="invalid-feedback" *ngIf="editCompanyDataForm.get('email').errors['required']">
                To pole nie może być puste
              </div>
              <div class="invalid-feedback" *ngIf="editCompanyDataForm.get('email').errors['email']">
                Adres email jest nieprawidłowy
              </div>
            </div>
            <div *ngIf="editCompanyDataForm.get('email')?.errors['serverError']">
              <div class="invalid-feedback" *ngFor="let error of editCompanyDataForm.get('email')?.errors['serverError']">
                {{ error }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group-sm col-md-12">
          <label class="label-sm">NIP</label>
          <input type="text" class="form-control form-control-sm" placeholder="NIP" formControlName='nip'
                 [ngClass]="{'is-invalid': (editCompanyDataForm.get('nip').invalid
                                && (editCompanyDataForm.get('nip').touched || editCompanyDataForm.get('nip').dirty))
                                || (editCompanyDataForm.get('nip')?.errors !== null
                                && editCompanyDataForm.get('nip')?.errors['serverError'])}">
          <div class="errors" *ngIf="editCompanyDataForm.get('nip').invalid">
            <div *ngIf="editCompanyDataForm.get('nip').touched || editCompanyDataForm.get('nip').dirty">
              <div class="invalid-feedback" *ngIf="editCompanyDataForm.get('nip').errors['required']">
                To pole nie może być puste
              </div>
              <div class="invalid-feedback" *ngIf="editCompanyDataForm.get('nip').errors['nipFormatError']">
                {{editCompanyDataForm.get('nip').errors['nipFormatError'].message}}
              </div>
            </div>
            <div *ngIf="editCompanyDataForm.get('nip')?.errors['serverError']">
              <div class="invalid-feedback" *ngFor="let error of editCompanyDataForm.get('nip')?.errors['serverError']">
                {{ error }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group-sm col-md-6">
          <label class="label-sm">Rok założenia</label>
          <input type="text" class="form-control form-control-sm" placeholder="Rok założenia" formControlName='foundedYear'
                 [ngClass]="{'is-invalid': (editCompanyDataForm.get('foundedYear').invalid
                                && (editCompanyDataForm.get('foundedYear').touched || editCompanyDataForm.get('nip').dirty))
                                || (editCompanyDataForm.get('foundedYear')?.errors !== null
                                && editCompanyDataForm.get('foundedYear')?.errors['serverError'])}">
          <div class="errors" *ngIf="editCompanyDataForm.get('foundedYear').invalid">
            <div *ngIf="editCompanyDataForm.get('foundedYear').touched || editCompanyDataForm.get('foundedYear').dirty">
              <div class="invalid-feedback" *ngIf="editCompanyDataForm.get('foundedYear').errors['required']">
                To pole nie może być puste
              </div>
            </div>
            <div *ngIf="editCompanyDataForm.get('foundedYear')?.errors['serverError']">
              <div class="invalid-feedback" *ngFor="let error of editCompanyDataForm.get('foundedYear')?.errors['serverError']">
                {{ error }}
              </div>
            </div>
          </div>
        </div>
        <div class="form-group-sm col-md-6">
          <label class="label-sm">Ilość pracowników</label>
          <input type="text" class="form-control form-control-sm" placeholder="Ilość pracowników" formControlName='companySize'
                 [ngClass]="{'is-invalid': (editCompanyDataForm.get('companySize').invalid
                                && (editCompanyDataForm.get('companySize').touched || editCompanyDataForm.get('companySize').dirty))
                                || (editCompanyDataForm.get('companySize')?.errors !== null
                                && editCompanyDataForm.get('companySize')?.errors['serverError'])}">
          <div class="errors" *ngIf="editCompanyDataForm.get('companySize').invalid">
            <div *ngIf="editCompanyDataForm.get('companySize').touched || editCompanyDataForm.get('companySize').dirty">
              <div class="invalid-feedback" *ngIf="editCompanyDataForm.get('companySize').errors['required']">
                To pole nie może być puste
              </div>
            </div>
            <div *ngIf="editCompanyDataForm.get('companySize')?.errors['serverError']">
              <div class="invalid-feedback" *ngFor="let error of editCompanyDataForm.get('companySize')?.errors['serverError']">
                {{ error }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group-sm col-md-12">
          <label class="label-sm">Strona internetowa</label>
          <input type="text" class="form-control form-control-sm" placeholder="Strona internetowa" formControlName='websiteUrl'
                 [ngClass]="{'is-invalid': (editCompanyDataForm.get('websiteUrl').invalid
                                && (editCompanyDataForm.get('websiteUrl').touched || editCompanyDataForm.get('websiteUrl').dirty))
                                || (editCompanyDataForm.get('websiteUrl')?.errors !== null
                                && editCompanyDataForm.get('websiteUrl')?.errors['serverError'])}">
          <div class="errors" *ngIf="editCompanyDataForm.get('websiteUrl').invalid">
            <div *ngIf="editCompanyDataForm.get('websiteUrl').touched || editCompanyDataForm.get('websiteUrl').dirty">
              <div class="invalid-feedback" *ngIf="editCompanyDataForm.get('websiteUrl').errors['required']">
                To pole nie może być puste
              </div>
            </div>
            <div *ngIf="editCompanyDataForm.get('websiteUrl')?.errors['serverError']">
              <div class="invalid-feedback" *ngFor="let error of editCompanyDataForm.get('websiteUrl')?.errors['serverError']">
                {{ error }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group-sm col-md-12">
          <label class="label-sm">O firmie</label>
          <textarea rows=6 class="form-control form-control-sm" formControlName='companyDescription'>
          </textarea>
        </div>
      </div>
      <div class="edit-mode-btns-area">
        <button type="button" class="edit-btn btn btn-secondary btn-sm" (click)="cancelEditCompanyData()">Anuluj</button>
        <button type="button" class="btn btn-primary btn-sm float-right" (click)="submitCompanyData()">
          Zapisz&nbsp;&nbsp;
          <span *ngIf="changingCompanyDataInProgress">
              <i class="fas fa-spinner fa-spin"></i>
            </span>
        </button>
      </div>
    </form>
  </div>
</div>
