.benefit{
  margin-bottom: 1.5rem;
}

.benefits-container{
  margin-top: 2rem;
}

.benefit-description{
  font-size: 0.9rem;
}

.benefits-edit-mode{
  margin-bottom: 2rem;
}

.benefit-title{
  font-weight: bold;
  margin-bottom: 0.3rem;
  font-size: 1.05rem;
}

.company-section-heading{
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.company-section-heading-title{
  color: #9c9c9c;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
  margin: 0;
}

.company-section-heading .edit-btn{
  margin-left: auto;
}

.edit-mode-btns-area{
  margin-top: 1rem;
}


