<div class="company-section-heading col-11">
  <h2 class="company-section-heading-title">Benefity</h2>
  <button class="edit-btn btn btn-secondary btn-sm" (click)="addEmployerBenefit()">
    Dodaj
  </button>
</div>
<div class="benefits-edit-mode" *ngIf="employerBenefitAddMode || employerBenefitEditMode">
  <div class="col-11">
    <form [formGroup]="employerBenefitForm">
      <div class="row">
        <div class="form-group-sm col-md-12">
          <label class="label-sm">Tytuł</label>
          <input type="text" class="form-control form-control-sm" placeholder="Tytuł" formControlName="title"
                 [ngClass]="{'is-invalid': (employerBenefitForm.get('title').invalid
                                && (employerBenefitForm.get('title').touched || employerBenefitForm.get('title').dirty))
                                || (employerBenefitForm.get('title')?.errors !== null
                                && employerBenefitForm.get('title')?.errors['serverError'])}">
          <div class="errors" *ngIf="employerBenefitForm.get('title').invalid">
            <div *ngIf="employerBenefitForm.get('title').touched || employerBenefitForm.get('title').dirty">
              <div class="invalid-feedback" *ngIf="employerBenefitForm.get('title').errors['required']">
                To pole nie może być puste
              </div>
            </div>
            <div *ngIf="employerBenefitForm.get('title')?.errors['serverError']">
              <div class="invalid-feedback" *ngFor="let error of employerBenefitForm.get('title')?.errors['serverError']">
                {{ error }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group-sm col-md-12">
          <label class="label-sm">Tytuł</label>
          <textarea rows="5" class="form-control form-control-sm" placeholder="Opis" formControlName="description"
                 [ngClass]="{'is-invalid': (employerBenefitForm.get('description').invalid
                                && (employerBenefitForm.get('description').touched || employerBenefitForm.get('description').dirty))
                                || (employerBenefitForm.get('description')?.errors !== null
                                && employerBenefitForm.get('description')?.errors['serverError'])}">

          </textarea>
          <div class="errors" *ngIf="employerBenefitForm.get('description').invalid">
            <div *ngIf="employerBenefitForm.get('description')?.errors['serverError']">
              <div class="invalid-feedback" *ngFor="let error of employerBenefitForm.get('description')?.errors['serverError']">
                {{ error }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="edit-mode-btns-area">
        <button type="button" class="edit-btn btn btn-secondary btn-sm" (click)="cancelAddingOrEditingEmployerBenefit()">Anuluj</button>
        <button type="button" class="btn btn-primary btn-sm float-right" (click)="submitChanges()">
          {{employerBenefitAddMode ? "Dodaj" : "Zapisz"}}&nbsp;&nbsp;
          <span *ngIf="addingOrEditingEmployerBenefitInProgress">
                  <i class="fas fa-spinner fa-spin"></i>
                </span>
        </button>
      </div>
    </form>
  </div>
</div>
<div class="benefits-container col-11">
  <div class="benefit-container" *ngFor="let benefit of employerBenefits; let i = index">
    <div class="row benefit" *ngIf="!isEmployerBenefitElementEdited(i)">
      <div class="col-12 benefit-title">
        <span>{{benefit.companyBenefit.title}}</span>
        <div class="btn-group float-right" role="group">
          <button class="btn btn-danger btn-sm" (click)="deleteEmployerBenefitElement(i)">
            Usuń&nbsp;
            <span *ngIf="deletingEmployerBenefitInProgress && currentDeletedEmployerBenefitElementIndex === i">
            <i class="fas fa-spinner fa-spin"></i>
          </span>
          </button>
          <button class="btn btn-secondary btn-sm" (click)="editEmployerBenefitElement(i)">
            Edytuj
          </button>
        </div>
      </div>
      <div class="col-12 benefit-description">
        {{benefit.companyBenefit.description}}
      </div>
    </div>
  </div>
</div>
